<script type="text/javascript">
	jQuery(document).ready(function() {
		datePickerInRange( 'startDate' , 'endDate' );	
	});

    var i18n_archiving = '$encoder.jsEscape( $i18n.getString( "archiving" ) , "'")';
    var i18n_unarchiving = '$encoder.jsEscape( $i18n.getString( "unarchiving" ) , "'")';
    var i18n_done_number_of_values = '$encoder.jsEscape( $i18n.getString( "done_number_of_values" ) , "'")';
</script>

<style type="text/css">
	.overlaps
	{
	    padding:1em; 
	    margin:1em;
	    background-color: #baffbc; 
	    border: 1px solid #12cd17; 
	    width: 500px;
	    display: none;
	}
</style>

<h3>$i18n.getString( "data_archive" ) #openHelp( "dataArchive" )</h3>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="overlapsDiv" class="overlaps">
    <p>$i18n.getString( "there_are" ) <span id="number"></span> $i18n.getString( "overlapping_values" )</p>
    <input type="radio" name="strategy" id="oldestRadio" value="oldest" checked="checked"/>
        <label for="oldestRadio">$i18n.getString( 'eliminate_oldest' )</label><br/>
	<input type="radio" name="strategy" id="archiveRadio" value="archive"/>
	    <label for="archiveRadio">$i18n.getString( 'eliminate_from_archive' )</label><br/>
	<input type="radio" name="strategy" id="regularRadio" value="regular"/>
	    <label for="regularRadio">$i18n.getString( 'eliminate_from_regular' )</label>
</div>

<div id="noOverlapsDiv" class="overlaps">
	$i18n.getString( "there_are_no_overlapping_values" )
</div>

<br/>

<div id="contentDiv" style="display:none">
<table width="100%">
    <tr>
        <td style="width:170px">$i18n.getString( "start_date" )</td>
        <td><input type="text" id="startDate"/></td>
    </tr>
    <tr>
        <td>$i18n.getString( "end_date" )</td>
        <td><input type="text" id="endDate"/></td>
    </tr>
    <tr>
    	<td></td>
    	<td>
    		<input type="button" value="$i18n.getString( 'archive' )" style="width:100px" onclick="archive( 'archive' )" />
    		<input type="button" value="$i18n.getString( 'unarchive' )" style="width:100px" onclick="archive( 'unarchive' )" />
    	</td>
    </tr> 
</table>
</div>

<br/>

<span id="message"></span>
