<script type="text/javascript" src="javascript/minMaxValidationForm.js"></script>
<script type="text/javascript">
	var i18n_loading = '$encoder.jsEncode( $i18n.getString( "loading" ) )';
	var levelMustBeInt = '$encoder.jsEncode( $i18n.getString( "level_must_be_int" ) )';
	var i18n_not_choose_dataset = '$encoder.jsEncode( $i18n.getString( "not_choose_dataset" ) )';
	var i18n_not_choose_organisation = '$encoder.jsEncode( $i18n.getString( "not_choose_organisation" ) )';
</script>

<h3>$i18n.getString( "min_max_value_generation" ) #openHelp( "minMaxValueGeneration" )</h3>

<form id="minMaxGeneratingForm" method="post">
<table>
  <tr>
    <th colspan="2">$i18n.getString('available_dataset')</th>
    <td rowspan="2">#organisationUnitSelectionTree( false, true, true ) </td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2">
		<select size="26px" multiple="multiple" style="width:30em" id="dataSetIds" name="dataSetIds">
			#foreach( $dataSet in $dataSets )
			  <option value="$dataSet.id">$encoder.htmlEncode( $dataSet.name )</option>
			#end
		</select>
	</td>
    </td>
  </tr>
  <tr>
  	<td>
	  	<input type="submit" id="saveButton" onclick="javascipt: isGenerate = true;" style="width:10em" value="$i18n.getString( 'generate' )">
		<input type="submit" id="removeButton" onclick="javascipt: isGenerate = false;" style="width:10em" value="$i18n.getString( 'remove' )"/>
		<input type="button" style="width:10em" onClick="window.location.href='index.action'" value="$i18n.getString( 'back' )"/>
	</td>
  </tr>
</table>
</form>

<span id="info" style="display:none;top:70px;right:5px;position:fixed;" onclick="hideById(this.id)"></span>

<span id="message"></span>
