
/*----------------------------------------------------------------------------*/
/* General                                                                    */
/*----------------------------------------------------------------------------*/

* 
{
  font-family: LiberationSansRegular, arial, sans-serif;
  line-height: 140%;
}

html,body 
{
  margin: 0px;
  padding: 0px;
  background-color: white;
}

img 
{
  border: 0;
}

ul,ol 
{
  padding: 0px;
}

a
{
  text-decoration: none;
  color: #3162C5;
}

select
{
  padding: 1px;
}

a:hover
{
  text-decoration:underline;
}

a:visited
{
  color: #3162C5;
}

input[type=text],input[type=password],textarea
{
  border: 1px solid #aaa;
  padding: 4px 1px;
}

/*----------------------------------------------------------------------------*/
/* Header                                                                     */
/*----------------------------------------------------------------------------*/

div#header
{
  background: #4c7eb0; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c7eb0 0%, #1d5288 96%, #33669b 98%, #074a7d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c7eb0), color-stop(96%,#1d5288), color-stop(98%,#33669b), color-stop(100%,#074a7d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4c7eb0 0%,#1d5288 96%,#33669b 98%,#074a7d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4c7eb0 0%,#1d5288 96%,#33669b 98%,#074a7d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4c7eb0 0%,#1d5288 96%,#33669b 98%,#074a7d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4c7eb0 0%,#1d5288 96%,#33669b 98%,#074a7d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c7eb0', endColorstr='#074a7d',GradientType=0 ); /* IE6-9 */

  height: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 0 2px #000;
}

img#headerBanner
{
  position: absolute;
  top: 13px;
  left: 55px;
}

img#menuSeparator1
{
  position: absolute;
  top: 0px;
  left: 580px;
}

img#menuSeparator2
{
  position: absolute;
  top: 0px;
  left: 680px;
}

img#menuSeparator3
{
  position: absolute;
  top: 0px;
  left: 780px;
}

img#menuSeparator4
{
  position: absolute;
  top: 0px;
  left: 880px;
}

img#menuSeparator5
{
  position: absolute;
  top: 0px;
  left: 980px;
}

.menuLink
{
  height: 47px;
  width: 98px;
  font-family: LiberationSansRegular, arial;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}

div#menuLink1
{
  position: absolute;
  left: 582px;
}

div#menuLink2
{
  position: absolute;
  left: 682px;
}

div#menuLink3
{
  position: absolute;
  left: 782px;
}

div#menuLink4
{
  position: absolute;
  left: 882px;
}

span#headerText
{
  position: absolute;
  top: 12px;
  left: 240px;
  font-family: LiberationSansBold, arial;
  font-weight: lighter;
  color: white;
  font-size: 16px;
}

div#menuDropDown1
{
  position: absolute;
  top: 44px;
  left: 580px;
}

div#menuDropDown2
{
  position: absolute;
  top: 44px;
  left: 680px;
}

div#menuDropDown3
{
  position: absolute;
  top: 44px;
  left: 780px;
}

div#menuDropDown4
{
  position: absolute;
  top: 44px;
  left: 780px;
}

.menuDropDownArea
{
  font-size: 12px;
  color: #ffffff;
  border-right: 1px solid #282c35;
  border-bottom: 1px solid #282c35;
  border-left: 1px solid #282c35;
  padding-left: 5px;
  padding-right: 5px;
  width: 189px;
  background-color: #2a5a8a;
  display: none;
  z-index: 10;
  filter: alpha(opacity=90);
  opacity: 0.90;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menuDropDownBox
{
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.menuDropDownBox a
{
  display: block;
  width: 169px;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-right: 10px;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.menuDropDownBox a:hover
{
  text-decoration: none;
  background-color: #4A89BA;
}

/*----------------------------------------------------------------------------*/
/* Left bar                                                                   */
/*----------------------------------------------------------------------------*/

#leftBar
{
  background-color: #1f5489;
  height: 535px;
  width: 235px;
  float: left;
  position: absolute;
  top: 44px;
  left: 0px;
  padding-top: 6px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  filter: alpha(opacity=90);
  opacity: 0.90;
  border-bottom-right-radius: 5px;
}

#leftBarContents
{
  color: black;
  font-size: 12px;
}

#leftBarContents h2
{
  font-size: 14px;
  background-color: #4a89ba;
  margin: 16px 15px 0px 15px;
  padding: 5px 0px 4px 10px;
  color: white;
  font-weight: normal;
  border-radius: 3px;
}

#leftBarContents ul
{
  margin-left: 26px;
  list-style-type: none;
  color: white;
}

#leftBarContents li
{
  padding-top: 2px;
  padding-bottom: 2px;
}

#leftBarContents a
{
  color: white;
  text-decoration: none;
}

#leftBarContents a:hover
{
  color: #acc8de;
}

/*----------------------------------------------------------------------------*/
/* Main page                                                                  */
/*----------------------------------------------------------------------------*/

.mainPageTable 
{
  width: 100%;
}

.page 
{
  font-size: 9pt;
}

.page h1 
{
  font-size: 16pt;
  font-weight: normal;
  color: #606060;
}

.page h2 
{
  font-size: 15pt;
  font-weight: normal;
  color: #606060;
}

.page h3 
{
  font-size: 14pt;
  font-weight: normal;
  color: #606060;
}

.page h4 
{
  font-size: 13pt;
  font-weight: normal;
  color: #606060;
}

.page h5 
{
  font-size: 12pt;
  font-weight: normal;
  color: #606060;
}

.page h6 
{
  font-size: 11pt;
  font-weight: normal;
  color: #606060;
}

.page p,.page td,.page th,.page input,.page select,.page textarea 
{
  font-size: 9pt;
}

.page th, thead tr, .tabHead
{
  background-color: #cbddeb;
  background-repeat: repeat-x;
  text-align: left;
  color: #39547d;
  padding:3px 0px 2px 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #c8dbea;
  font-family: LiberationSansBold, arial;
  font-size: 13px;
  font-weight: normal;
}

#mainPage 
{
  margin: 65px 10px 10px 270px;
}

.required 
{
  font-style: normal;
  color: #ff0000;
}

.listTable
{
  width: 100%;
  border-collapse: collapse;
}

.listTable td
{
  padding: 2px 2px 2px 5px;
}

.listRow
{
  border-bottom: 1px solid #cad5e5;
}

.listAlternateRow
{
  border-bottom: 1px solid #cad5e5;
  background-color: #ebf0f6;
}

.listHoverRow
{
  background-color: #dfe9f4;
}

.bold, .bold td
{
  font-family: LiberationSansBold, arial, sans-serif;
}

.normal
{
  font-family: LiberationSansRegular, arial, sans-serif;
}

/*----------------------------------------------------------------------------*/
/* Intro                                                                      */
/*----------------------------------------------------------------------------*/

.introList
{
  display: none;
  list-style-type:none;
  width: 450px;
  background-color: #d5efd5;
  border: 1px solid #a4d2a3;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.introItem
{
  padding: 12px;
  cursor: pointer;
  min-height: 44px;
  border-radius: 3px;
}

.introItem:hover
{
  background-color: #a4d2a3;
}

.introItemHeader
{
  font-family: LiberationSansBold, arial;
  color: #3c533c;
  font-size: 13px;
}

/*----------------------------------------------------------------------------*/
/* @font-face                                                                 */
/*----------------------------------------------------------------------------*/

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('eot'),
         url('../../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/LiberationSans-Regular-webfont.svg#webfontc8rbNdBe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('../../fonts/LiberationSans-Bold-webfont.eot');
    src: url('../../fonts/LiberationSans-Bold-webfont.eot?#iefix') format('eot'),
         url('../../fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('../../fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format('svg');
    font-weight: normal;
    font-style: normal;
}
