
<h3>$i18n.getString( "change_log" )</h3>

<dl>
  <dt>$i18n.getString( "release" ) 2.8:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.8" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.7:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.7" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.6:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.6" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.5:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.5" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.4:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.4" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.3:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.3" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.2:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.2" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.1:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.1" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.6:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.6" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.5:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.5" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.4:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.4" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.3:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.3" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.2:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.2" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
  <dt>$i18n.getString( "release" ) 2.0.1:</dt>
  <dd><a href="https://blueprints.launchpad.net/dhis2/+milestone/2.0.1" target="_blank">Launchpad $i18n.getString( "online_release_page" )</a></dd>
</dl>
<br/>
<div><input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='$!backUrl'" style="width:140px"/></div>