
<table class="contentProviderTable">
    <tr>
        <th colspan="2">$i18n.getString( "map" )</th>
    </tr>
    #foreach ( $map in $maps )
    <tr>
        <td>
            <a href="javascript:window.location.href='../dhis-web-mapping/app/index.html?id=${map.uid}'">$encoder.htmlEncode( $map.name )</a>
        </td>
        <td style="width:10px">
            <a href="javascript:window.location.href='removeMap.action?id=$map.id'" title="$i18n.getString( 'remove' )">
            <img class="removeIcon" src="../images/hide.png" alt="$i18n.getString( 'remove' )"></a>
        </td>
    </tr>
    #end
</table>

#if( $maps.size() == 0 )
<div class="labelText">$i18n.getString( "insert_links_by_going_to" )<br>
<a href="../dhis-web-mapping/app/index.html">$i18n.getString( "gis" )</a></div>
#end