
<script type="text/javascript">
var redirectUrl;

#if ( $startModule && $auth.hasAccess( $startModule, "index" ) )
	redirectUrl = "../${startModule}/index.action";
#else
	redirectUrl = "../dhis-web-commons-about/modules.action";
#end
</script>

#if ( !$inMemoryDatabase )

<script type="text/javascript">
redirect();
</script>

#else

<span id="info">$i18n.getString( "in_memory_notification" )</span>

<p><input type="button" value="$i18n.getString( 'proceed' )" onclick="redirect()"></p>

#end