#set( $size = $programs.size() )
{ 
	"organisationUnit": "$!encoder.jsonEncode( $!{organisationUnit.name} )",
	"organisationUnitId": "$!{organisationUnit.id}",
	"programs": [
		#foreach( $program in $programs )
		  {
			"id":  ${program.id} ,
			"name": "$!encoder.jsonEncode( ${program.name} )"
		  }#if( $velocityCount < $size ),#end
		#end]
}