<h2>$i18n.getString( "administration" )</h2>
<ul>
	<li><a href="listForm.action">$i18n.getString( "form_management" )</a></li>
	<li><a href="createForm.action">$i18n.getString( "create_form" )</a></li>	
	<li><a href="listFormReports.action">$i18n.getString( "formula_list" )</a></li>
	<li><a href="getFormConfiguration.action">$i18n.getString( "form_configuration" )</a></li>	
</ul>
#if($visibleforms)
<h2>$i18n.getString( "datamanagement" )</h2>
<ul>
    #foreach($form in $visibleforms)
		<li><a href="javascript:window.location='listObject.action?formId=$form.id'">$form.label</a></li>
    #end
</ul>
#end
<h2>$i18n.getString( "search_report" )</h2>
<ul>
	<li><a href="../dhis-web-dataentry/select.action">$i18n.getString( "export_report" )</a></li>	
</ul>

<script type="text/javascript">
	var i18n_deleted_file = '$encoder.jsEncode( $i18n.getString( "deleted_file" ) )';
	var i18n_name = '$encoder.jsEncode( $i18n.getString( "name" ) )';
	var i18n_size = '$encoder.jsEncode( $i18n.getString( "size" ) )';
	var i18n_create_date = '$encoder.jsEncode( $i18n.getString( "create_date" ) )';
	
	function cleanUp(){
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( cleanUpCompleted );
		request.send( "cleanTempDirectory.action" );
	}
	function cleanUpCompleted( xmlObject ){
		var innerHTML = "<h3>" +i18n_deleted_file+ "</h3>";
		innerHTML += "<table width='100%'>";
		innerHTML += "<tr>";
		innerHTML += "<th>"+i18n_name+"</th>";
		innerHTML += "<th>"+i18n_create_date+"</th>";
		innerHTML += "<th>"+i18n_size+"</th>";
		innerHTML += "</tr>";
		
		var list = xmlObject.getElementsByTagName('file');	
		
		for ( var i = 0; i < list.length; i++ )
		{
			var name = list.item(i).getElementsByTagName('name')[0].firstChild.nodeValue;
			var date = list.item(i).getElementsByTagName('create-date')[0].firstChild.nodeValue;
			var size = list.item(i).getElementsByTagName('size')[0].firstChild.nodeValue;
			innerHTML += "<tr>";
			innerHTML += "<td>" + name + "</td>";
			innerHTML += "<td>" + date + "</td>";
			innerHTML += "<td>" + size + "</td>";
			innerHTML += "</tr>";
		}
		innerHTML += "</table>";
		setInfo(innerHTML);
	}
</script>