
td{ padding-right : 10px;}

textarea{
	width:660px; 
	height: 100px;
	text-align:left;
}

input[type="text"]{
	width:320px; 
	text-align:left;
}

select
{
	width:325px; 
	text-align:left;
}

input[type="button"], input[type="submit"]
{
	width: 160px;
	padding-left:5px;
	padding-right:5px;
}

input.filterButton
{
	width: 50px;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
}

.hidden 
{
	display: none;
}

.visible
{
	display: block;
}

.imgButton
{
	cursor:pointer;
}

fieldset
{
	border: 1px solid #3f5d8e;
}

tr.selected{
	background-color:#3399FF;
	color:#FFFFFF;
}

#selectedList tr{
	cursor:pointer;
}

.dataElementDiv
{
	overflow:auto; 
	height:20em; 
	width:30em;
	border:1px solid #9DA1AA;
}

.dataElementDiv table
{
	width:100%;
}

.arrow-down {
	width: 15px;
	height: 20px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: url('../../images/asc.gif') no-repeat center;
	cursor: pointer;
}

fieldset
{
	border: 1px solid #3f5d8e;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}