<script type="text/javascript">
	jQuery(document).ready( function() {
		validation( "sendSMSForm", function( form ) { sendSMSMessage( form ); } );
		
		selectionTreeSelection.setListenerFunction( selectedOrganisationUnitSendSMS );

		var target = '${sendTo}';
		
		jQuery( "#sendTarget > option" ).each( function( i, item )
		{
			if ( item.value == target )
			{
			
				item.selected = true;
			}
		} );
		
		toggleSMSGUI( target );
	});
	
	var i18n_no_recipient = '$encoder.jsEscape( $i18n.getString( "no_recipient" ) , "'")';
	var i18n_person_list_empty = '$encoder.jsEscape( $i18n.getString( "person_list_empty" ) , "'")';
	var i18n_please_verify_phone = '$encoder.jsEscape( $i18n.getString( "please_verify_phone" ) , "'")';
	var i18n_please_select_user_group = '$encoder.jsEscape( $i18n.getString( "please_select_user_group" ) , "'")';
	var i18n_please_select_orgunit = '$encoder.jsEscape( $i18n.getString( "please_select_orgunit" ) , "'")';
</script>

<style type="text/css">
    .statusBar{
        color: white;
        padding: 5px 5px;
        margin: -16px 0 20px -20px;
        font-weight: bold;
        background-color: #8FABC7;
    }
</style>

<h3>$i18n.getString( "send_sms" )</h3>
#if ( $!gatewayMap && $!gatewayMap.size() > 0 )
<form id="sendSMSForm" name="sendSMSForm" action="sendSMS.action">
	<table id="detailsList">
		<tbody>
			<!--tr>
				<th colspan="2">$i18n.getString( "gateway_type" )</th>
			</tr>
			<tr>
				<td width="328"><label for="type">$i18n.getString( "type" ):</label></td>
				<td width="100">
				#set( $keys = $!gatewayMap.keySet() )
					<select id="gatewayId" name="gatewayId" style="width: 100%;">
						#foreach( $key in $!keys )
						<option value="$gatewayMap.get( $key )">$i18n.getString( $key )</option>
						#end
					</select>
				</td>
			</tr-->
			
			<tr>
				<td>$i18n.getString( "send_sms_to_target" ):
					<select id="sendTarget" name="sendTarget" onchange="javascript:toggleSMSGUI( this.value );">
						<option value="phone">$i18n.getString( "raw_phone_number" )</option>
						<option value="userGroup">$i18n.getString( "user_group" )</option>
						<option value="user">$i18n.getString( "assigned_user_number" )</option>
						<option value="unit">$i18n.getString( "stakeholder_number" )</option>
						<option value="patient">$i18n.getString( "patient_number" )</option>
					</select>
				</td>
			</tr>
			<tr id="trUserGroup" style="display:none">
				<td>$i18n.getString( "user_group" ):
				<select id="userGroup" name="userGroup">
				#foreach( $group in $userGroups )
					<option value="$group.id">$!encoder.htmlEncode( $group.name )</option>
				#end
				</select></td>
			</tr>
			<tr id="trRawPhone">
				<td>$i18n.getString( "phone_number" ): <input type="text" id="recipient" name="recipient" style="width:53%"/></td>
			</tr>
			
			<tr><th>$i18n.getString( "message" )</th></tr>
			<tr><td><textarea id="smsMessage" name="smsMessage" cols="86" rows="5" class="{validate:{required:true}}"></textarea></td></tr>
		</tbody>
	</table>

	<table id="detailsList">
		<col width="300px"/>
		<tbody id="orgunitType" style="display:none">
			<tr><td>#organisationUnitSelectionTree( true, true, false )</td></tr>
		</tbody>
		
		<tbody>
			<tr>
				<td><input type="submit" name="send" value="$i18n.getString( 'send_sms' )"/>
				<input type="button" name="viewSentSms" value="View Sent Sms" onclick="window.location='showSentPage.action'"/></td>				
			</tr>
		</tbody>
	</table>
</form>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )
#else
<p>No Sms service available</p>
#end