
*
{
  font-family: LiberationSansRegular, sans-serif;
  line-height: 125%;
  overflow: hidden;
}

html,body
{
  background-color: #1d5288;  
  color: white;
  font-size: 15px;
}

a
{
  color: #e6eaf1;
  text-decoration: none;
}

a:hover
{
  color: #fff;
}

#flagArea
{
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  width: 105px;
  margin-bottom: 5%;
}

#titleArea
{
  position: absolute;
  top: 17px;
  left: 140px;
  font-size: 18px;
}

#loginField
{
  position: relative;
  margin: 7% auto 0 auto;
  width: 340px;
  text-align: center;
}

#bannerArea
{
  margin-bottom: 9%;
  border: none;
}

#loginField td
{
  padding-right: 5px;
}

#loginMessage
{
  background-color: #3b6da1;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  padding: 11px;
  margin: 20px 15px 0 15px;
  display: block;
  width: 280px;
  border-radius: 2px;
}

#footerArea
{
  position: absolute;
  font-size: 13px;
  bottom: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  font-family: LiberationSansBold, arial;
  background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
  height: 26px;
  border: 1px solid #444;
  border-radius: 3px;
  color: #222;
}

.button:hover {
  background: -webkit-linear-gradient(top, #fafafa, #dadada);
  background: -moz-linear-gradient(top, #fafafa, #dadada);
  background: -ms-linear-gradient(top, #fafafa, #dadada);
  background: -o-linear-gradient(top, #fafafa, #dadada);
  border: 1px solid #333333;
}

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('eot'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#webfontc8rbNdBe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('../fonts/LiberationSans-Bold-webfont.eot');
    src: url('../fonts/LiberationSans-Bold-webfont.eot?#iefix') format('eot'),
         url('../fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format('svg');
    font-weight: normal;
    font-style: normal;
}
