
*
{
  font-family: LiberationSansRegular, sans-serif;
  line-height: 125%;
  overflow: hidden;
}

html,body
{
  background-color: #1d5288;  
  color: white;
  font-size: 15px;
}

a
{
  color: #e6eaf1;
  text-decoration: none;
}

a:hover
{
  color: #fff;
}

input[type=text],input[type=password]
{
  border: 1px solid #888;
  padding: 3px 1px;
}

#flagArea
{
  position: absolute;
  top: 22px;
  left: 52px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  max-width: 105px;
  margin-bottom: 5%;
}

#titleArea
{
  position: absolute;
  top: 24px;
  left: 177px;
  font-size: 19px;
}

#introArea
{
  width: 250px;
  position: absolute;
  top: 53px;
  left: 177px;
  font-size: 17px;
  color: #bfd9f2;
}

#bannerArea
{
  margin-bottom: 35px;
  border: none;
}

#loginFormFooter
{
  font-size: 14px;
}

#accountArea
{
  position: absolute;
  right: 17px;
  padding: 18px 30px 18px 0;
  font-size: 17px;
}

#loginField
{
  position: relative;
  margin: 130px auto 0 auto;
  width: 350px;
  text-align: center;
}

#loginField td
{
  padding-right: 5px;
}

#loginMessage
{
  background-color: #3b6da1;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  padding: 11px;
  margin: 20px 15px 0 40px;
  display: block;
  width: 286px;
  border-radius: 2px;
}

#notificationArea
{
  background-color: #D0E6FD;
  color: #1D5288;
  margin: 40px 0 0 40px;
  padding: 15px;
  border-radius: 3px;
}

.greenButtonLink
{
  padding: 6px 12px;
  height: 27px;
  border: 1px solid #67A767;
  border-radius: 3px;
  margin-right: 4px;
  font-family: LiberationSansBold, arial;
  font-size: 13px;
  background-color: #1A9B20;
  color: #fff !important;
  text-decoration: none !important;
}

.greenButtonLink:hover
{
  text-decoration: none;
  background-color: #1DA223;
}

.button 
{
  font-family: LiberationSansBold, arial;
  background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
  height: 26px;
  border: 1px solid #444;
  border-radius: 3px;
  color: #222;
}

.button:hover 
{
  background: -webkit-linear-gradient(top, #fafafa, #dadada);
  background: -moz-linear-gradient(top, #fafafa, #dadada);
  background: -ms-linear-gradient(top, #fafafa, #dadada);
  background: -o-linear-gradient(top, #fafafa, #dadada);
  border: 1px solid #333333;
}

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('eot'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#webfontc8rbNdBe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('../fonts/LiberationSans-Bold-webfont.eot');
    src: url('../fonts/LiberationSans-Bold-webfont.eot?#iefix') format('eot'),
         url('../fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format('svg');
    font-weight: normal;
    font-style: normal;
}
