/*----------------------------------------------------------------------------*/
/* Search button for orgunit                                                  */
/*----------------------------------------------------------------------------*/

.searchOrgunit
{
  display: none; 
  position: absolute;
  width: 200px;
  margin-left: 22px;
  z-index: 9999;
}

/*----------------------------------------------------------------------------*/
/* Right bar                                                                  */
/*----------------------------------------------------------------------------*/

div#rightBar
{
  display:none;
  background-color: #d5efd5;
  height: 454px;
  width: 300px;
  float: right;
  position: absolute;
  top: 85px;
  right: 10px;
  border: 1px solid #a4d2a3;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  overflow: auto;
}

#hideRightBar
{
  position: relative;
  left: 0px;
  top: 0px;
}

#rightBar h3 
{
  font-weight: lighter;
  margin-top: 6px;
  font-size: 13pt;
  color: #606060;
}

#rightBar p
{
  font-size: 9pt;
}

#rightBar ul,ol
{
  font-size: 9pt;
  padding-left: 14px;
}

/*----------------------------------------------------------------------------*/
/* Help page                                                                  */
/*----------------------------------------------------------------------------*/

div#helpMenu
{
  width: 260px;
  margin-right: 15px;
}

div#helpMenu ul
{
  list-style-type: none;
  font-size: 9pt;
}

div#helpMenu a
{
  text-decoration: none;
}

div#helpMenu h6
{
  cursor: pointer;
  padding: 3px 0px 4px 25px;
}

div#helpContent
{
  margin-top: 1px;
  margin-right: 15px;
  border: 1px solid #c0c0c0; 
  padding: 10px 20px 20px 20px;
  border-radius: 3px;
}

div#helpContent ul, ol
{
  padding-left: 15px;
}

/*----------------------------------------------------------------------------*/
/* Thingy                                                                     */
/*----------------------------------------------------------------------------*/

div.thingy 
{
  clear: both;
}

#showLeftBar
{
  display: none;
  position: fixed;
  left: 23px;
  top: 53px;
  font-family: LiberationSansBold, arial;
  font-size: 9pt;
  cursor: pointer;
}

#hideLeftBar
{
  float: right;
  font-family: LiberationSansBold, arial;
  font-size: 9pt;
  cursor: pointer;
}

#mainMenuIcon
{
  float:right;
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Organisation Unit Web Tree                                                 */
/*----------------------------------------------------------------------------*/

div#orgUnitTree 
{
  font-size: 9pt; /* Size to change */
  padding-top: 4px;
}

#leftBarContents div#orgUnitTree 
{
  font-size: 9pt; /* Size to change */
  background-color: white;
  overflow: auto;
  width: 233px;
  height: 304px;
  border: 1px inset #FFFFFF;
}

div#orgUnitTree ul 
{
  margin: 0;
  padding: 0;
}

div#orgUnitTree ul li:last-child 
{
    background-position: 0pt -1766px;
}

div#orgUnitTree li 
{
  list-style-type: none;
  white-space: nowrap; /* Makes list items never wrap */
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  padding-top: 1px;
  padding-right: 0pt;
  padding-bottom: 1px;
  padding-left: 14px;
  background-color: transparent;
  background-image: url('../../images/treeview-gray-line.gif');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0pt 0pt;
}

div#orgUnitTree span.toggle 
{
  margin-left: -12px;
  cursor: pointer;
}

div#orgUnitTree a 
{
  color: #5C0000;
  text-decoration: none;
  cursor: pointer;
}

div#orgUnitTree a:hover 
{
  color: #808080;
}

div#orgUnitTree a.selected 
{
  color: #000000;
  font-family: LiberationSansBold, arial;
  font-size: 13px;
}

/*----------------------------------------------------------------------------*/
/* Organisation Unit Selection Tree                                           */
/*----------------------------------------------------------------------------*/

div#selectionTree 
{
  font-size: 9pt; /* Size to change */
  background-color: white;
  height: 300px;
  width:595px;  
  overflow:auto;
  border:1px solid #cccccc;   
}

div#selectionTree ul 
{
  margin: 0em 0em 0em 1.5em;
}

div#selectionTree>ul 
{
  margin-left: 0em;
}

div#selectionTree li 
{
  list-style-type: none;
  white-space: nowrap; /* Makes list items never wrap */
}

div#selectionTree span.toggle 
{
  font-family: courier new, monospace;
  font-size: 9pt; /* Size to change */
  cursor: pointer;
}

div#selectionTree a 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#selectionTree a:hover 
{
  color: #808080;
}

div#selectionTree a.selected 
{
  color: orange;
}

div#selectionTree a.locked 
{
  color: green;
}

/*----------------------------------------------------------------------------*/
/* Message field                                                              */
/*----------------------------------------------------------------------------*/

span#message 
{
  display: none;
  padding: 1em;
  margin: 1em;
  background-color: #ffffbf;
  border: 1px solid #cccc00;
  width: 500px;
  border-radius: 3px;
}

span#info
{
  display: block;
  padding: 1em;
  margin: 1em;
  background-color: #baffbc;
  border: 1px solid #12cd17;
  width: 500px;
  border-radius: 3px;
}

div#detailsArea 
{
  border: 1px solid #8f8ffd;
  background-color: #dadaff;
  position: fixed;
  width: 18em;
  max-height: 75%;
  padding: 0.5em;
  overflow: auto;
}

div#detailsArea label 
{
  font-family: LiberationSansBold, arial;
  font-size: 13px;
}

div#warningArea
{
  border: 1px solid #9d0000;
  background-color: #f48d8d;
  position: fixed;
  width: 18em;
  padding: 0.5em;
}

div#headerMessage
{
  top: 0px;
  left: 155px;
  position: fixed;
  display: none;
  height: 30px;
  width: 410px;
  background-color: #ffffbf;
  border: 1px solid #cccc00;
  z-index: 21;
  font-size: 9pt;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  border-radius: 3px;
}

table.notificationTable 
{
  background-color: #ffffbf;
  border: 1px solid #cccc00;
  padding: 6px;
  border-radius: 3px;
}

table.notificationTable td 
{
  padding: 3px;
}

/*----------------------------------------------------------------------------*/
/* Sorting                                                                    */
/*----------------------------------------------------------------------------*/

table thead tr .header 
{
  background-image: url('../../images/bg.gif');	
}

table thead tr .headerSortUp
{
  background-image: url('../../images/asc.gif');	
}

table thead tr .headerSortDown 
{
  background-image: url('../../images/desc.gif');	
}

table thead tr .headerSortUp,
table thead tr .headerSortDown,
table thead tr .header
{
  background-repeat:no-repeat;
  background-position: center right;
  cursor:pointer;
}

div.error 
{ 
	background: url('../../images/error.png') no-repeat 10px 10px 
}

div.success 
{
	background: url('../../images/success.png') no-repeat 10px 10px
}

div.warning
{ 
	background: url('../../images/warning.png') no-repeat 10px 10px
}

div.waiting
{
	background: url('../../images/wrench.png') no-repeat 10px 10px
}

div.growlUI h1, div.growlUI h2 
{
	color: white; padding: 5px 5px 5px 75px; text-align: left;font-size:medium 
}

div.growlUI h2 
{ 
	font-size: small 
}

.ui-autocomplete-loading 
{ 
	background: white url('../../images/ui-anim_basic.gif') right center no-repeat; 
}

span.error 
{
	background: url('../../images/invalid.png') no-repeat;
	padding-left: 16px;
	margin-left: .3em;
}

span.valid 
{
	background: url('../../images/valid.png') no-repeat;	
	padding-left: 16px;
	margin-left: .3em;
}

#cluetip-inner
{
	font-size:10pt;
}

#cluetip-inner label
{
	padding-bottom:5px;
}

/*----------------------------------------------------------------------------*/
/* Criteria                                                                   */
/*----------------------------------------------------------------------------*/

div.inputCriteria
{
  position: relative;
  width: 400px; /* Override this */
  height: 400px; /* Override this */
  border: 1px solid #a4d2a3;
  background-color: #d5efd5;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}

/*----------------------------------------------------------------------------*/
/* Data entry forms                                                           */
/*----------------------------------------------------------------------------*/

.alt
{
  background-color: #e0e0e0;
  padding-right: 50px;
}

.reg
{
  padding-right: 50px;
}

.cent
{
  text-align: center;
}

.formSection
{
  border:1px solid #c0c0c0; 
  padding:10px;
  border-radius: 3px;
}

/*----------------------------------------------------------------------------*/
/* Paging                                                                     */
/*----------------------------------------------------------------------------*/

.paging-container
{
	text-align: right; 
}

div.paging 
{
	width:300px;float:right; margin-right:5em; text-align: center; height:16px; 
}

div.paging span, div.paging a 
{
	padding: 0 5px;font-weight: bold; font-size: 11px;
}

div.paging a
{
	text-decoration: none; color: #FF9900;
}

div.paging a:hover
{
	color: #000;
}

div.paging span.page 
{
	color:#000;
}

div.paging span.seperator 
{
	display:none;
}

ul.pageSizeSelection 
{
	list-style:none; float:left; width: 300px; margin: 0; padding: 0;
}

ul.pageSizeSelection span 
{
	width: 100px; display: block; float :left;
}

ul.pageSizeSelection input 
{
	text-align: right;
}

/*----------------------------------------------------------------------------*/
/* Custom forms dynamic style                                                 */
/*----------------------------------------------------------------------------*/

.cde table 
{
  border-collapse: collapse;
}

.cde-greyfield 
{
  background-color: #e0e0e0;
}

.cde-regular td, .cde-regular th 
{
  padding: 12px;
  border: 1px solid #c0c0c0;
}

.cde-comfortable td, .cde-comfortable th 
{
  padding: 18px;
  border: 1px solid #c0c0c0;
}

.cde-compact td, .cde-compact th 
{
  padding: 5px;
  border: 1px solid #c0c0c0;
}

.cde-none
{
}

/*----------------------------------------------------------------------------*/
/* jQuery overrides                                                           */
/*----------------------------------------------------------------------------*/

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
  font-family: LiberationSansRegular, arial, sans-serif !important;
  font-size: 9pt !important;
}

.ui-datepicker th 
{
  font-family: LiberationSansBold, arial, sans-serif !important;
  font-weight: normal !important;
  padding: 0.5em 0 !important;
  font-size: 9pt !important;
}

.ui-widget-header
{
  font-family: LiberationSansBold, arial, sans-serif !important;
  font-weight: normal !important;
  font-size: 10pt !important;
}

.ui-button-text
{
  font-family: LiberationSansBold, arial, sans-serif !important;
  font-weight: normal !important;
  font-size: 9pt !important;
}

