/* ColorField */
.x-form-field-wrap .x-form-color-trigger {
	background-image: url(colorfield/color-trigger.png);
}
.ie6 .x-form-field-wrap .x-form-color-trigger {
	background-image: url(colorfield/color-trigger.gif);
}

/* MultiSelect */
.ux-mselect{
    overflow:auto;
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
    overflow:auto;	
}
.ux-mselect-item{
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:2px;
    border:1px solid #fff;
    white-space: nowrap;
    cursor:pointer;
}
.ux-mselect-selected{
	border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    cursor:pointer;
}
.x-view-drag-insert-above { 
    border-top:1px dotted #3366cc; 
} 
.x-view-drag-insert-below { 
    border-bottom:1px dotted #3366cc; 
}

/* Msg */
.msg body {
	font:normal 11px arial,ubuntu;
    color:#111111;
	padding:20px;
    padding-top:32px;
    font-size:13px;
	background-color:#fff !important;
}
.msg .icon {
    vertical-align:middle;
    padding:0px 8px 0px 0px;
}
.msg .x-box-mc {
    padding:8px 23px 7px 12px;
}
.x-msg-hl {
	font-weight:bold;
	color:#222222;
}
#msg-div {
    display: table;
    margin-left:auto;
    margin-right:auto;
    z-index:20000;
}

/* CheckBox override */
.x-form-check-group .x-form-check-wrap,.x-form-radio-group .x-form-radio-wrap{height:auto;}
.ext-ie .x-form-check-group .x-form-check-wrap,.ext-ie .x-form-radio-group .x-form-radio-wrap{height:auto;}
.x-form-check-wrap,.x-form-radio-wrap{padding:1px 0 3px;line-height:18px;}
.ext-ie .x-form-check-wrap,.ext-ie .x-form-radio-wrap{padding-top:3px;}
.ext-strict .ext-ie7 .x-form-check-wrap,.ext-strict .ext-ie7 .x-form-radio-wrap{padding-bottom:1px;}
.x-form-check-wrap-inner,.x-form-radio-wrap-inner{display:inline;padding:0;}
.x-form-check,.x-form-radio{height:13px;width:13px;vertical-align:bottom;margin:2px 0;}
.ext-ie .x-form-check,.ext-ie .x-form-radio{margin-top:1px;}
.ext-strict .ext-ie7 .x-form-check,.ext-strict .ext-ie7 .x-form-radio{margin-bottom:4px;}
.ext-opera .x-form-check,.ext-opera .x-form-radio{margin-top:3px;}
.x-form-check-focus .x-form-check,.x-form-check-over .x-form-check,.x-form-check-focus .x-form-radio,.x-form-check-over .x-form-radio{background-position:-13px 0;}
.x-form-check-down .x-form-check,.x-form-check-down .x-form-radio{background-position:-26px 0;}
.x-item-disabled .x-form-check,.x-item-disabled .x-form-radio{background-position:-39px 0;}
.x-form-check-checked,.x-form-radio-checked{background-position:0 -13px;}
.x-form-check-focus .x-form-check-checked,.x-form-check-over .x-form-check-checked,.x-form-check-focus .x-form-radio-checked,.x-form-check-over .x-form-radio-checked{background-position:-13px -13px;}
.x-form-check-down .x-form-check-checked,.x-form-check-down .x-form-radio-checked{background-position:-26px -13px;}
.x-item-disabled .x-form-check-checked,.x-item-disabled .x-form-radio-checked{background-position:-39px -13px;}
.x-form-check-wrap-inner input,.x-form-radio-wrap-inner input{position:absolute;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}

/* IconCombo */
.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 5px 50%;
    width: 22px;
    height: 16px;
}
.ux-icon-combo-input {
    color: #ffffff;
    z-index: -1;
    padding-left: 8px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 5px 50% ! important;
    color: #f6f6f6;
    height: 16px;
    padding-left: 50px;
}
.x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 2px;
}

.ux-ic-icon-groupset-type-0 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-0.png) ! important;
}
.ux-ic-icon-groupset-type-0-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-0.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-1 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-1.png) ! important;
}
.ux-ic-icon-groupset-type-1-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-1.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-2 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-2.png) ! important;
}
.ux-ic-icon-groupset-type-2-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-2.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-3 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-3.png) ! important;
}
.ux-ic-icon-groupset-type-3-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-3.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-4 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-4.png) ! important;
}
.ux-ic-icon-groupset-type-4-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-4.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-5 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-5.png) ! important;
}
.ux-ic-icon-groupset-type-5-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-5.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-6 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-6.png) ! important;
}
.ux-ic-icon-groupset-type-6-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-6.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-7 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-7.png) ! important;
}
.ux-ic-icon-groupset-type-7-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-7.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-8 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-8.png) ! important;
}
.ux-ic-icon-groupset-type-8-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-8.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-9 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-9.png) ! important;
}
.ux-ic-icon-groupset-type-9-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-9.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-10 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-10.png) ! important;
}
.ux-ic-icon-groupset-type-10-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-10.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-11 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-11.png) ! important;
}
.ux-ic-icon-groupset-type-11-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-11.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-groupset-type-12 {
    background-image:url(iconcombo/ux-ic-icon-groupset-type-12.png) ! important;
}
.ux-ic-icon-groupset-type-12-title {
    background:url(iconcombo/ux-ic-icon-groupset-type-12.png) no-repeat 0 0 transparent;
    padding:0 0 3px 21px;
	font:bold 11px arial;
	color:#111;
}
.ux-ic-icon-maplegend-type-0 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-0.png) ! important;
}
.ux-ic-icon-maplegend-type-1 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-1.png) ! important;
}
.ux-ic-icon-maplegend-type-2 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-2.png) ! important;
}
.ux-ic-icon-maplegend-type-3 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-3.png) ! important;
}
.ux-ic-icon-maplegend-type-4 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-4.png) ! important;
}
.ux-ic-icon-maplegend-type-5 {
    background-image:url(iconcombo/ux-ic-icon-maplegend-type-5.png) ! important;
}
