<script>
	jQuery(document).ready(function() {
		jQuery("input[type=button]").click(function() {
			jQuery.postUTF8( 'setSystemGeneralSettings.action', {
				cacheStrategy: getFieldValue( 'cacheStrategy' ),
				infrastructuralDataElements: getFieldValue( 'infrastructuralDataElements' ),
				infrastructuralPeriodType: getFieldValue( 'infrastructuralPeriodType' ),
				feedbackRecipients: getFieldValue( 'feedbackRecipients' ),
                completenessRecipients: getFieldValue( 'completenessRecipients' ),
                offlineOrganisationUnitLevel: getFieldValue( 'offlineOrganisationUnitLevel' ),
				omitIndicatorsZeroNumeratorDataMart: jQuery( '#omitIndicatorsZeroNumeratorDataMart' ).is( ':checked' ),
				disableDataEntryWhenCompleted: jQuery( '#disableDataEntryWhenCompleted' ).is( ':checked' ),
				factorDeviation: getFieldValue( 'factorDeviation' ),
				completenessOffset: getFieldValue( 'completenessOffset' )
			}, function( json ) {
				if ( json.response == "success" )
					setHeaderDelayMessage( json.message );
			});
		});
	});
</script>

<h3>$i18n.getString( "general_settings" ) #openHelp( "systemGeneralSettings" )</h3>

<!-- cache_strategy -->
<h4>$i18n.getString( "cache_strategy" )</h4>

<p>
<select id="cacheStrategy" name="cacheStrategy" style="width:30em">
	<option value="NO_CACHE" #if( $keyCacheStrategy == "NO_CACHE" )selected="selected"#end>$i18n.getString( "no_cache" )</option>
	<option value="CACHE_6AM_TOMORROW" #if( $keyCacheStrategy == "CACHE_6AM_TOMORROW" )selected="selected"#end>$i18n.getString( "cache_until_6am_tomorrow" )</option>
	<option value="CACHE_TWO_WEEKS" #if( $keyCacheStrategy == "CACHE_TWO_WEEKS" )selected="selected"#end>$i18n.getString( "cache_for_two_weeks" )</option>
</select>
</p>

<!-- infrastructural_data_elements -->
<h4>$i18n.getString( "infrastructural_data_elements" )</h4>

<p>
<select id="infrastructuralDataElements" name="infrastructuralDataElements" style="width:30em">
    #foreach ( $group in $dataElementGroups )
    <option value="$group.id" #if( $group.id == $configuration.infrastructuralDataElements.id )selected="selected"#end>$group.name</option>
    #end
</select>
</p>

<!-- infrastructural_period_type -->
<h4>$i18n.getString( "infrastructural_period_type" )</h4>

<p>
<select id="infrastructuralPeriodType" name="infrastructuralPeriodType" style="width:30em">
    #foreach ( $type in $periodTypes )
    <option value="$type.name" #if( $type.name == $configuration.infrastructuralPeriodTypeDefaultIfNull.name )selected="selected"#end>$type.name</option>
    #end
</select>
</p>

<!-- feedback_recipients -->
<h4>$i18n.getString( "feedback_recipients" )</h4>

<p>
<select id="feedbackRecipients" name="feedbackRecipients" style="width:30em">
	<option value="-1">$i18n.getString( "no_feedback_recipients" )</option>
	#foreach ( $group in $userGroups )
	<option value="$group.id" #if( $group.id == $!feedbackRecipients.id )selected="selected"#end>$encoder.htmlEncode( $group.name )</option>
	#end
</select>
</p>

<!-- completeness_recipients -->
<h4>$i18n.getString( "completeness_recipients" )</h4>

<p>
<select id="completenessRecipients" name="completenessRecipients" style="width:30em">
	<option value="-1">$i18n.getString( "no_completeness_recipients" )</option>
	#foreach ( $group in $userGroups )
	<option value="$group.id" #if( $group.id == $!completenessRecipients.id )selected="selected"#end>$encoder.htmlEncode( $group.name )</option>
	#end
</select>
</p>

<!-- max_levels_to_offline -->
<h4>$i18n.getString( "max_levels_to_offline" )</h4>

<p>
<select id="offlineOrganisationUnitLevel" name="offlineOrganisationUnitLevel" style="width:30em">
    #set( $level = 1)

	#foreach ( $organisationUnitLevel in $organisationUnitLevels )
    <option value="$organisationUnitLevel.id" #if( $organisationUnitLevel.id == $!offlineOrganisationUnitLevel.id)selected="selected"#end>Level $level</option>
    #set( $level = $level + 1)
	#end
</select>
</p>

<!-- omit_indicators_zero_numerator_data_mart -->
<h4>$i18n.getString( "omit_indicators_zero_numerator_data_mart" )</h4>

<p>
	<input type="checkbox" id="omitIndicatorsZeroNumeratorDataMart" name="omitIndicatorsZeroNumeratorDataMart" #if( $omitIndicatorsZeroNumeratorDataMart )checked="checked"#end/>
</p>

<!-- disable_dataentry_when_dataset_completed -->
<h4>$i18n.getString( "disable_dataentry_when_dataset_completed" )</h4>

<p>
	<input type="checkbox" id="disableDataEntryWhenCompleted" name="disableDataEntryWhenCompleted" #if( $dataEntryFormCompleted )checked="checked"#end/>
</p>

<!-- data_analysis_factor -->
<h4>$i18n.getString( "data_analysis_factor" )</h4>

<p>
	<input type="text" id="factorDeviation" name="factorDeviation" value="$!factorDeviation"/>
</p>

<!-- days_after_period_timeliness -->
<h4>$i18n.getString( "days_after_period_timeliness" )</h4>

<p>
	<input type="text" id="completenessOffset" name="completenessOffset" value="$!completenessOffset"/>
</p>

<p><input type="button" value="$i18n.getString( 'save' )" style="width:10em"/></p>