<script>
	jQuery(document).ready(function() {
		jQuery("input[type=button]").click(function() {
			jQuery.postUTF8( 'setSystemAppearanceSettings.action', {
				applicationTitle: getFieldValue( 'applicationTitle' ),
				currentStyle: getFieldValue( 'currentStyle' ),
				flag: getFieldValue( 'flag' ),
				startModule: getFieldValue( 'startModule' )
			}, function( json ) {
				if ( json.response == "success" )
					setHeaderDelayMessage( json.message );
			});
		});
	});
</script>

<h3>$i18n.getString( "appearance_settings" ) #openHelp( "systemAppearanceSettings" )</h3>

<h4>$i18n.getString( "application_title" )</h4>

<p><input type="text" id="applicationTitle" name="applicationTitle" style="width:30em" maxlength="40" value="$!applicationTitle"/></p>

<h4>$i18n.getString( "style" )</h4>

<select id='currentStyle' name='currentStyle' style="width:30em">
	#foreach( $style in $styles.entrySet() )
	<option value="$style.value" #if( $style.value == $currentStyle )selected="selected"#end>$i18n.getString( $style.key )</option>
	#end
</select>

<h4>$i18n.getString( "flag" )</h4>

<p>
<select id="flag" name="flag" style="width:30em">
	<option value="NO_FLAG">$i18n.getString( "no_flag" )</option>
	#foreach ( $flag in $flags )
	<option value="$flag" #if( $flag == $keyFlag )selected="selected"#end>$i18n.getString( $flag )</option>
    #end
</select>
</p>

<h4>$i18n.getString( "start_page" )</h4>

<p>
<select id="startModule" name="startModule" style="width:30em">
    <option value="NO_START_PAGE">$i18n.getString( "system_overview" )</option>
	#foreach ( $module in $modules )
	<option value="$module.name" #if( $module.name == $startModule )selected="selected"#end>$i18n.getString( "$module.name" )</option>
	#end
</select>
</p>

<p><input type="button" value="$i18n.getString( 'save' )" style="width:10em"/></p>