#if( $availableLocales )
<script type="text/javascript">
	
	jQuery(document).ready(function() {
		jQuery("input[type=button]").click(function() {
			jQuery.postJSON( 'setUserGeneralSettings.action', {
				currentLocale: getFieldValue( 'currentLocale' ),
				currentLocaleDb: getFieldValue( 'currentLocaleDb' ),
				currentStyle: getFieldValue( 'currentStyle' ),
				autoSave: jQuery( '#autoSave' ).is(':checked' )
			}, function ( json ) {
				if ( json.response == "success" )
					window.location.reload();
			});
		});
	});
</script>

<h3>$i18n.getString("user_general_settings") #openHelp( "userGeneralSettings" )</h3>

<h4>$i18n.getString( "language" )</h4>

<select id="currentLocale" name="currentLocale" style="min-width:250px">
#foreach( $locale in $availableLocales )
	<option value="$locale.toString()" #if( $locale == $currentLocale )selected="selected"#end>$locale.getDisplayName()</option>
#end
</select>

<h4>$i18n.getString( "db_language" )</h4>

<select id="currentLocaleDb" name="currentLocaleDb" style="min-width:250px">
	<option value="">[$i18n.getString( "use_db_locale_no_translation" )]</option>
#foreach( $locale in $availableLocalesDb )
	<option value="$locale.toString()" #if( $locale == $currentLocaleDb )selected="selected"#end>$locale.getDisplayName()</option>
#end
</select>

<h4>$i18n.getString( "style" )</h4>

<select id="currentStyle" name="currentStyle" style="min-width:250px">
#foreach( $style in $styles.entrySet() )
	<option value="$style.value" #if( $style.value == $currentStyle )selected="selected"#end>$i18n.getString( $style.key )</option>
#end
</select>

<h4>$i18n.getString( "auto_save_data_entry_form" )</h4>
<input type="checkbox" id="autoSave" name="autoSave" #if( $autoSave ) checked="checked"#end/>

<p><input type="button" value="$i18n.getString( 'save' )" style="width:10em"/></p>

#end