<?xml version="1.0" encoding="UTF-8"?>

<inventory-type-attributes>
	#foreach( $inventoryTypeAttribute in $inventoryTypeAttributes )	
		<inventory-type-attribute>
			<id>$inventoryTypeAttribute.id</id>
			<name>$inventoryTypeAttribute.name</name>
		</inventory-type-attribute>
	#end
</inventory-type-attributes>