<script type="text/javascript" src="javascript/catalog.js"></script>
<!--<script type="text/javascript" src="javascript/uploadCatalogImageForm.js"></script>-->
<script>
    
    jQuery(document).ready( function(){
		
        currentDiv = 'uploadCatalogImageForm';
        isSubmit = true;
        
        jQuery("#uploadCatalogImageForm").validate({
                 meta:"validate"
                ,errorElement:"span"
                ,submitHandler: function(form)
                    {
                        if( isSubmit ) 
                        {
                            uploadCatalogImage();
                        }
                    }
            });
    }); 
    
</script>
<h3>$i18n.getString( "upload_catalog_image" )</h3>
<!--<form id="uploadCatalogImageForm" name="uploadCatalogImageForm" action="uploadCatalogImage.action" method="post" enctype="multipart/form-data">-->
<form id="uploadCatalogImageForm" name="uploadCatalogImageForm" method="post" enctype="multipart/form-data">

	<div>
		<input type="hidden" id="id" name="id" value="$catalog.id" />
		<input type="hidden" id="catalogID" name="catalogID" value="$catalog.id" />
		<input type="hidden" id="catalogTypeID" name="id" value="$catalog.catalogType.id" />
		<input type="hidden" id="tempFileName" name="tempFileName" />
	</div>

	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td class='text-column'><label for="name">$i18n.getString( "name" )</label></td>
						<td class="input-column" ><input type="text" id="name" name="name" value="$!catalog.name" readonly /></td>
					</tr>
					<tr>
						<td class='text-column'><label for="description">$i18n.getString( "description" )</label></td>
						<td class="input-column" ><input type="text" id="description" name="description" value="$!catalog.description" readonly /></td>
					</tr>
					<tr>
						<td class='text-column'><label for="catalogType">$i18n.getString( "catalogType" )</td>
						<td class="input-column" ><input type="text" id="catalogType" name="catalogType" value="$!catalog.catalogType.name" readonly /></td>
					</tr>
					<tr>
						<td class='text-column'><label for="image">$i18n.getString( "image" )</td>
						<td class="input-column" ><input type="text" value="$!catalog.catalogImage" readonly /></td>
					</tr>
				
					<tr>
						<td class='text-column'><label for="uploadImage">$i18n.getString( "upload_image" )<em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
						<td class="input-column" ><input type="file" id="upload" name="upload" size="50" class="{validate:{required:true}}"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>	
					<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" class='button' value="$i18n.getString( 'upload_image' )" >&nbsp;
							<!--<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='catalog.action'" />-->
							<input type="button" class="button" value="$i18n.getString( 'cancel' )" onclick="loadAllCatalogs();"/>
						</td>
					</tr>
				</table>
			</td>
			<td valign="top"><img src="showImage.action?id=$catalog.id" style="width:200px;height:200px;" /></td>
		</tr>
	</table>

</form> 	
