<script type="text/javascript">
jQuery( document ).ready( function()
{
    validation2( 'addOrganisationUnitGroupForm', function( form )
    {
        form.submit();
    }, {
        'beforeValidateHandler' : function()
        {
            #tblDynamicAttributesJavascript()
        },
        'rules' : getValidationRules( "organisationUnitGroup" )
    } );

    checkValueIsExist( "name", "validateOrganisationUnitGroup.action" );
} );
</script>

<h3>$i18n.getString( "crease_new_org_unit_group" ) #openHelp( "ou_groups_edit" )</h3>

<form name="addOrganisationUnitGroupForm" id="addOrganisationUnitGroupForm" action="addOrganisationUnitGroup.action" method="POST">

<table>
    <tr>
        <th colspan="2">$i18n.getString( "details" )</th>
    </tr>
    <tr>
        <td style="width:200px"><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" style="width:240px;"/></td>
    </tr>
</table>

#tblDynamicAttributes( { "attributes": $attributes } )

<table>
	<tr>
		<td>
			#organisationUnitSelectionTree( true true false )
		</td>
	</tr>
</table>

<p>
	<input type="submit" name="save" value="$i18n.getString( 'save' )" style="width:10em"/>
	<input type="button" onclick="window.location.href='organisationUnitGroup.action'" value="$i18n.getString( 'cancel' )" style="width:10em"/>
</p>

</form>