<script type="text/javascript">
   jQuery(document).ready(	function(){
		datePickerInRange( 'startDate' , 'endDate' );
		disableCriteriaDiv();
		
		var standardInterval = 3;
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth() - 3;
		var y = date.getFullYear();
		var edate= new Date(y, m, d);
		jQuery('#startDate').datepicker( "setDate" , edate );				
	});		
</script>
				
<h3>$i18n.getString( "anonymous_events" ) #openHelp('single_event_without_registration')</h3>
<input type='hidden' id='orgunitId' name='orgunitId' value='$orgunit.id'>
<input type='hidden' id='programStageInstanceId' name='programStageInstanceIdrgunitId'>
<input type='hidden' id='programStageId' name='programStageId'>
<input type='hidden' id='isShowEventList' name='isShowEventList'>

<select multiple id='compulsoryDE' name='compulsoryDE' class='hidden'></select>

<div id='criteriaDiv'>
	<div id='selectDiv'>
		<table>		
			<tr>
				<td><label>$i18n.getString( "registering_unit" )</label></td>
				<td><input type="text" id='orgunitName' name='orgunitName' value='$!orgunit.name' readonly></td>
			</tr>
			<tr>	       
				<td>
				  $i18n.getString("program") <em title="$i18n.getString( "required" )" class="required">*</em></label>
				</td>		
				<td>
					<select type="text" id="programId" name="programId" onchange='getDataElements();' >
						<option value='' programStageId='' >[$i18n.getString("please_select")]</option>
						#foreach( $program in $programs )
							#foreach( $programStage in $program.programStages )
								<option value='$program.id' programStageId='$programStage.id'>$program.name</option>
							#end
						#end
					</select>
				</td>
				<td>
					<input type="button" class='large-button' id='listBtn' value="$i18n.getString( 'list_all_events' )" onclick='validateSearchEvents( true );'>
				</td>
				<td>
					<input type="button" class='large-button' id='addBtn' value='$i18n.getString( "add_new" )' onclick="showAddEventForm();">
				</td>
				<td>
					<input type="button" class='large-button' id='removeBtn' value='$i18n.getString( "remove_empty_events" )' onclick="removeEmptyEvents();">
				</td>
				<td>
					<input type="button" class='large-button' value='$i18n.getString( "advanced_search" )' onclick="jQuery('#advanced-search').toggle();">
				</td>
			</tr>
		</table>
		
		<table id='advanced-search' class='hidden'>
			<tr>
				<td>$i18n.getString('use_data_from_level')</td>
				<td><input type="radio" id='facilityLB1' name="facilityLB" value="selected" checked> $i18n.getString('selected')</td>
				<td><input type="radio" id='facilityLB2' name="facilityLB" value="childrenOnly"> $i18n.getString('children_only')</td>
				<td><input type="radio" id='facilityLB3' name="facilityLB" value="all"> $i18n.getString('all')</td>
			</tr>
			<tr>
				<td>$i18n.getString('show_hierachy_from_level')</td>
				#foreach( $level in $levels )
					<td><input type="radio" id='level${level.level}' name="level" value="${level.level}" checked> $level.name</td>
				#end
			</tr>
			<tr>
				<td>$i18n.getString('report_date')</td>
				<td colspan='3'>&nbsp;<input type="text" id='startDate' name='startDate' style='width:240px'></td>
				<td>$i18n.getString('to') <input type="text" id='endDate' name='endDate' style='width:240px'></td>
				<td><input type="button" id='searchBtn' class='large-button' value='$i18n.getString( "search" )' onclick='validateSearchEvents( false )'></td>
			</tr>
			<tr>
				<td valign="top">$i18n.getString('data_elements')</td>
				#set($cols = $levels.size() + 3)
				<td colspan='$cols'>
					<table id='advancedSearchTB'>	
						<tbody>
							<tr id='advSearchBox0'>	
								<td id='searchingAttributeIdTD' >
									<select id="searchObjectId" name="searchObjectId" style='margin-right:18px;' onchange='dataElementOnChange(this);'></select>
								</td>		
								<td style='padding-right:30px;'>
									<input type="text" id="searchText" name="searchText" value="$!searchText">
								</td>
								<td><input type="button" id='addSearchOptionBtn' name='addSearchOptionBtn' class='small-button' value='+' onclick='addAttributeOption();'> </td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id='listDiv'></div>

<div id='dataEntryInfor' class='hidden'>
	<h4 id='programName' name='programName'></h4>
	<p>
		<input type="button" id='backBtn' value="$i18n.getString( 'back' )" onclick="javascript:backEventList();" style='width:150px;'>
		<input type="button" onclick="doComplete()" value="$i18n.getString('complete')" id="completeBtn" style='width:150px;'>
		<input type="button" onclick="doUnComplete()" value="$i18n.getString('uncomplete')" id="uncompleteBtn" style='width:150px;' >
		<input type="button" onclick="completedAndAddNewEvent()" value="$i18n.getString('complete_and_add_new_event')" id="completeAndAddNewBtn" style='width:150px;'>
	</p>
	<div id='dataEntryFormDiv'></div>
</div>

<div class='hidden'>
	<input id='executionDateNewEvent' name='executionDateNewEvent'>
</div>

<script>
	datePickerValid( 'executionDateNewEvent', true );
	
	var i18n_please_select = '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")';
	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_uncomplete_confirm_message = '$encoder.jsEscape( $i18n.getString( "uncomplete_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';
	
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_specify_data_element = '$encoder.jsEscape( $i18n.getString( "specify_data_element" ) , "'")';
	var i18n_comfirm_delete_event = '$encoder.jsEscape( $i18n.getString( "comfirm_delete_event" ) , "'")';
	var i18n_delete_event_success = '$encoder.jsEscape( $i18n.getString( "delete_event_success" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	var i18n_search_events_by_dataelements = '$encoder.jsEscape( $i18n.getString( "search_events_by_dataelements" ) , "'")';
	var i18n_list_all_events = '$encoder.jsEscape( $i18n.getString( "list_all_events" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_no_compulsary_data_elements = '$encoder.jsEscape( $i18n.getString( "no_compulsary_data_elements" ) , "'")';
	var i18n_remove_success = '$encoder.jsEscape( $i18n.getString( "remove_success" ) , "'")';
	
	isAjax = true;
	contentDiv = '';
	
	var searchTextBox = '<input type="text" id="searchText" name="searchText">';
	
</script>