<h4> $i18n.getString( "case_aggregation_result" )</h4>

<div>
    <input type="button" value="$i18n.getString( 'back' )" onclick="backBtnOnClick();" style="width:10em">
	<input type='button' value="$i18n.getString( 'save_selected_values' )" onclick='saveAggregateDataValues( false )' >
	<input type='button' value="$i18n.getString( 'save_all_values' )" onclick='saveAggregateDataValues( true )' >
</div>
<p></p>

#set( $index = 0 )
#foreach( $orgunit in $orgunits)
	<h2>$orgunit.name</h2>
	#foreach( $period in $periods)
		#set( $index = $index + 1 )
		#set( $periodInfo = $orgunit.id + '-' + $index )
		#set( $periodButton = $periodInfo + "-button")
		#set( $periodDiv = $periodInfo + "-div")
		#set( $key = $orgunit.id + '-' + $format.formatPeriod($period) )
		
		<h4>$format.formatPeriod( $period )
		#if( $!mapDataValues.get( $key ) )
			<img id='$periodButton' src="../images/down.png" onclick="toggleResult('$periodInfo');" style="cursor: pointer;"></h4>
		
			#set( $dataValues = $mapDataValues.get( $key ) ) 
			<table class="formSection mainPageTable hidden" id='$periodDiv'>
				<col width="40">          
				<col>
				<col>
				<col>
				<tbody>
				#set( $mark = false )
				#set($no = 1)
					<tr>
						<th>#</th>
						<th><input type='checkbox' onchange="toogleAllCheckBoxes( '$periodDiv', this.checked );"></th>
						<th>$i18n.getString('name')</th>
						<th>$i18n.getString('value')</th>
						<th>$i18n.getString('status')</th>
						<th>$i18n.getString('operator')</th>
					</tr>
					#foreach( $dataValue in $dataValues)
						#set( $statusKey = $key + '-' + $dataValue.dataElement.id )
						<tr #alternate( $mark )>
							<td>$no</td>
							<td>
								#set( $item=$dataValue.dataElement.id + '_' + $dataValue.optionCombo.id + '_' + $period.periodType.name + '_' + $format.formatDate($period.startDate) + '_' + $orgunit.id + '_' + $dataValue.value )
								<input type='checkbox' name='aggregateValues' value='$item'>
							</td>
							<td>$dataValue.dataElement.name</td>
							<td>$dataValue.value</td>
							<td>$!mapStatusValues.get( $statusKey )</td>
							<td>
								#if( $mapCaseAggCondition.get($dataValue).id )
								<a href='javascript:viewResultDetails($orgunit.id, "$period.periodType.name", "$format.formatDate($period.startDate)",$mapCaseAggCondition.get($dataValue).id)' title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
								#end
							</td>
						</tr>
						#set( $mark = !$mark  )
						#set ($no = $no + 1)
					#end
				</tbody>
			</table>
		#else
			($i18n.getString('no_value_added_or_update')) </h4>
		#end
	#end
#end

<div id='contentDetails'></div>

<script>
	var i18n_aggregate_details = '$encoder.jsEscape( $i18n.getString( "aggregate_details" ) , "'")';
	var i18n_save_success = '$encoder.jsEscape( $i18n.getString( "save_success" ) , "'")';
	var i18n_saved = '$encoder.jsEscape( $i18n.getString( "saved" ) , "'")';
</script>