<script>
	jQuery("#entryFormContainer").ready(function(){
		#if($!programStageInstance.programStage.program.type!='1')
			hideById('newEncounterBtn');
		#end
		#if($!programStageInstance.programStage.id)
			setFieldValue('programStageId', "$!programStageInstance.programStage.id");
		#end
		#if( $programStageInstance )
			setFieldValue( 'dueDate', "$!format.formatDate( $programStageInstance.dueDate )" );
			setFieldValue( 'executionDate', "$!format.formatDate( $programStageInstance.executionDate )" );
		#end
		
		entryFormContainerOnReady();
		
	});
</script>

<div id='entryFormContainer'>

<input type='hidden' id='incidentDate' value='$!format.formatDate($programStageInstance.programInstance.dateOfIncident)'>
<input type='hidden' name='programStageInstanceId' id='programStageInstanceId' value='$!programStageInstance.id'>
<input type='hidden' name='programInstanceId' id='programInstanceId' value='$!programStageInstance.programInstance.id'>
<input type='hidden' name='irregular' id='irregular' value='$!programStageInstance.programStage.irregular'>
<input type='hidden' name='displayGenerateEventBox' id='displayGenerateEventBox' value='$!programStageInstance.programStage.displayGenerateEventBox'>
<input type='hidden' name='completed' id='completed' value='$!programStageInstance.completed'>
<input type='hidden' name='programStageId' id='programStageId' value='$!programStageInstance.programStage.id'>
<input type='hidden' name='programId' id='programId' value='$!programStageInstance.programInstance.program.id'>
<input type='hidden' name='validCompleteOnly' id='validCompleteOnly' value='$!programStageInstance.programStage.validCompleteOnly'>
<input type='hidden' name='currentUsername' id='currentUsername' value='$!currentUsername'>
<input type='hidden' name='blockEntryForm' id='blockEntryForm'  value='$!programStageInstance.programInstance.program.blockEntryForm'>

<div id='entryForm' #if($!programStageInstance.executionDate) class='visible' #else class='hidden' #end>					
	<table id="postCommentTbl" class="hidden">
		<tr>
			<td class="text-column">$i18n.getString('post_comment'):</td>
			<td><input type="text" class="{validate:{maxlength:160}}" name="comment_$programStageInstance.id" id="comment_$programStageInstance.id" style="width:450px;" onkeypress="keypressOnComent(event,this,$programStageInstance.id);"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan='3'>
				<table>
					<tbody id="commentTB">
						#foreach( $comment in $programStageInstance.patientComments )
						<tr>
							<td>$format.formatDateTime($comment.createdDate) </td>
							<td>$comment.creator </td>
							<td>$comment.commentText</td>
						</tr>
						#end
					</tbody>
				</table>
			</td>
		</tr>
	</table>
	#if( $customDataEntryFormCode )
		#parse( "/dhis-web-caseentry/customDataEntryForm.vm" )
	#elseif( $sections && $sections.size() > 0 )
		#parse( "/dhis-web-caseentry/sectionDataEntryForm.vm" )
	#else
		#parse( "/dhis-web-caseentry/defaultDataEntryForm.vm" )
	#end
</div>

<div id='inputCriteriaDiv' class="page inputCriteria #if($programStageInstance.executionDate) #else hidden #end " style="width:490px;height:29px;">	
	<input type="button" class='button' id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" disabled="disabled">
	<input type="button" id="uncompleteBtn" value="$i18n.getString('incomplete')" onclick="doUnComplete()" disabled="disabled">
	<input type="button" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" disabled="disabled">
</div>

</div>

<div id="loading-bar" class="hidden" align='center'>
	<p>Validation rules are being processed, please wait ...<br>
	<img src='../images/ajax-loader-circle.gif'></p>
</div>

<div id='validateProgramDiv'></div>

<script>
	var i18n_create_new_event = '$encoder.jsEscape( $i18n.getString( "create_new_event" ) , "'" )';
	#if( $programStageInstance.programInstance.program.type=='1' && $programStageInstance.programInstance.completed=="true")
		jQuery("[id=entryFormContainer] :input").prop('disabled', true);
		jQuery("[id=entryFormContainer] :input").datepicker("destroy");
		jQuery("[id=executionDate]").prop('disabled', true);
		jQuery("[id=executionDate]").datepicker("destroy");
	#end

	if(getFieldValue('completed')=='true' && getFieldValue('blockEntryForm')=='true'){
		blockEntryForm();
	}
</script>

