
<a href="index.action"><h2>$i18n.getString( "data_entry" )&nbsp;</h2></a>

<ul>
	<li><a href="dataEntrySelect.action">$i18n.getString( "name_based" )&nbsp;</a></li>
	<li><a href="multipledataEntrySelect.action">$i18n.getString( "multiple_name_based" )&nbsp;</a></li>
	<li><a href="anonymousRegistration.action">$i18n.getString( "anonymous_events" )</a></li>
	<li><a href="singleEventSelect.action">$i18n.getString( "single_event_with_registration" )</a></li>
</ul>

<br>

#parse( "/dhis-web-commons/ouwt/orgunittreesearch.vm" )
