<form id='dataRecordingSelectForm' name='dataRecordingSelectForm' method='post'>

<table class="mainPageTable" id='patientInfoDiv'> 
	<tr>
		<td valign="top">
	<table>
		<tr>            
			<td class="bold">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate ) ($patient.getAge())<td>
		</tr>
		</table>
	</tr>
</table>
</form>
