<script type="text/javascript" src="javascript/jquery.mousewheel.js"></script>

<script>
	$(document).ready(function () {        
        $('#programInstanceFlowDiv').mousedown(function (event) {
            $(this)
                .data('down', true)
                .data('x', event.clientX)
                .data('scrollLeft', this.scrollLeft);
                
            return false;
        }).mouseup(function (event) {
            $(this).data('down', false);
        }).mousemove(function (event) {
            if ($(this).data('down') == true) {
                this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
            }
        }).mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
        }).css({
            'overflow' : 'hidden',
            'cursor' : '-moz-grab'
        });
	});
</script>

<form id='dataRecordingSelectForm' name='dataRecordingSelectForm' method='post'>

<table class="mainPageTable" id='patientInfoDiv'> 
	<tr>
		<td valign="top">
	<table>
		<tr>            
			<td class="bold">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate ) $patient.getAge()<td>
		</tr>
		</table>
	</tr>
	<tr>
		<td>
			<a href="javascript:showColorHelp()" id='colorHelpLink' title="$i18n.getString( 'what_do_colors_mean' )" class="hidden">$i18n.getString('what_do_colors_mean')</a>
			<div id="colorHelpDiv" class="hidden history">
				<table>
					<col width='80px;'/>
					<thead>
						<tr>
							<th>$i18n.getString('color')</th>
							<th>$i18n.getString('description')</th>
						</tr>
					</thead>
					<tr>
						<td id='colorGreenTD' class='input-column'><script>byId('colorGreenTD').style.backgroundColor = COLOR_LIGHT_GREEN;</script></td>
						<td>$i18n.getString('event_is_completed')</td>
					</tr>
					<tr>
						<td id='colorLightredTD'><script>byId('colorLightredTD').style.backgroundColor = COLOR_LIGHT_LIGHTRED;</script></td>
						<td>$i18n.getString('the_stage_is_started_but_not_completed_yet')</td>
					</tr>
					<tr>
						<td id='colorYellowTD'><script>byId('colorYellowTD').style.backgroundColor = COLOR_LIGHT_YELLOW;</script></td>
						<td>$i18n.getString('the_stage_is_started_and_due_date_is_after_the_current_date')</td>
					</tr>
					<tr>
						<td id='colorRedTD'><script>byId('colorRedTD').style.backgroundColor = COLOR_LIGHT_RED;</script></td>
						<td>$i18n.getString('the_stage_is_not_started_and_due_date_is_before_the_current_date')</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>


<div class="actions">	
	<input type="button" class='button' id="newEncounterBtn" value="$i18n.getString('create_new_event')" onClick="javascript: registerIrregularEncounter( getFieldValue('executionDate') );" disabled="disabled" >
	<input type="button" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" disabled="disabled" >
	<input type="button" class='button' id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" disabled="disabled" >
	<input type="button" onclick="doUnComplete()" value="$i18n.getString('uncomplete')" id="uncompleteBtn">
	<input type="button" class='button' value="$i18n.getString( 'back_to_search' )" id='backBtnFromEntry' onclick="javascript:showSearchForm();" >
</div>
		
<div id='inputCriteria' class="page inputCriteria" style="width:490px;height:29px;">	
	<input type='hidden' id='programStageId' name='programStageId'>
	<table>
	   <tr id='programIdTR'>
			<td class='text-column'><label for="programId">$i18n.getString( "program" )</label></td>
			<td>
				<select id="programId" name="programId" class="criteria" onchange="loadProgramStages();" #if( $programs.size() == 0 ) disabled="disabled" #end>
					<option value="0">[$i18n.getString( "select" )]</option>
					#foreach( $program in $programs )
						<option value="$program.id" type="$program.type" #if( $programId && $program.id == $programId ) selected="selected" #end>$encoder.htmlEncode( $program.name )</option>
					#end
				</select>
			</td>
		</tr>
	</table>
</div>

<div id='programInstanceDiv' class='hidden '>
	<div id='programInstanceFlowDiv' style="width:500px;height:70px;overflow-x:auto;">
		<table>
			<tr id='programStageIdTR'></tr>
		</table>
	</div>
	
	<br>
	
	<table id='executionDateTB'>
		<tr>
			<th class='text-column'><label for="executionDate">$i18n.getString( "report_date" ) </label></th>
			<th><input type="text" id="executionDate" name="executionDate" class='criteria' value="$!format.formatDate( $programStageInstance.executionDate )" >
				<script type="text/javascript">
				   datePickerValid( 'executionDate', false );
				</script>
			</th>
			<th class='text-column'><label for="dueDate">$i18n.getString( "due_date" ) </label></th>
			<th><input type="text" id="dueDate" name="dueDate" class='criteria' value="$!format.formatDate( $programStageInstance.dueDate )" readonly > </th>
		</tr>
	</table>
	
</div>

</form>

<p></p>
	
<div id='createNewEncounterDiv' class='hidden'>
	<table>
		<tr>
			<td>$i18n.getString( 'due_date' )</td>
			<td><input id='dueDateNewEncounter' name='dueDateNewEncounter' ></td>
			<script type="text/javascript">
			   datePicker( 'dueDateNewEncounter', false );
			</script>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type='button' value='$i18n.getString("create")' onclick='registerIrregularEncounter( getFieldValue("dueDateNewEncounter" ) );' />
				<input type='button' value='$i18n.getString("cancel")' onclick="closeDueDateDiv();" />
			</td>
</div>

<script>
	jQuery('#dataRecordingSelectForm').ready(function(){ 
		var programs = byId('programId');
		if( programs.options.length == 2 )
		{
			 byId('programId').selectedIndex = 1;
			 loadProgramStages();
		}
	});
</script>
