
<h3>$i18n.getString( "dhis-web-caseentry" )</h3>

<ul class="introList">
	#introListImgItem( "patient.action" "patient" "patient" )
    #introListImgItem( "dataEntrySelect.action" "name_based_data_entry" "dataentry" )
	#introListImgItem( "multipledataEntrySelect.action" "multiple_name_based_data_entry" "dataentry" )
	#introListImgItem( "anonymousRegistration.action" "anonymous_events" "dataentry" )
	#introListImgItem( "singleEventSelect.action" "single_event_with_registration" "dataentry" )
    #introListImgItem( "reportSelect.action" "program_summary" "summaryreport" )
	#introListImgItem( "app/index.html" "tabular_report" "summaryreport" )
	#introListImgItem( "visitplan.action" "visit_plan" "visitplan" )
    #introListImgItem( "caseAggregationForm.action" "case_aggregation" "caseaggregation" )
</ul>