#set( $size = ${reports.size()} )
{ "tabularReports": [
  #foreach( ${tabularReport} in $!{reports} )
  {
	"id": "${tabularReport.id}",
	"name": "$!encoder.jsonEncode( ${tabularReport.name} )",
	"lastUpdated": "${tabularReport.lastUpdated}"
  }#if( $velocityCount < $size ),#end
  #end
  ],
  "pager":{
	  "currentPage":$!currentPage,
	  "pageSize":10,
	  "total":$!total,
	  "pageCount":$!pageCount
	}
}