{ "metaData": {
"programs": {
#set( $psize = $programs.size() )
#foreach( $program in $programs )
"${program.id}":{
"name":"$encoder.jsonEncode( ${program.displayName} )",
"description":"$encoder.jsonEncode( ${program.description} )",
"enrollmentDescription":"$encoder.jsonEncode( ${program.dateOfEnrollmentDescription} )",
"incidentDescription":"$encoder.jsonEncode( ${program.dateOfIncidentDescription} )",
"programStages":[#set( $pssize = $program.programStages.size() )
#foreach( $ps in $program.programStages )
{ "id": "${ps.id}", "name": "$encoder.jsonEncode( ${ps.displayName} )", "reportDateDescription": "$encoder.jsonEncode( ${ps.reportDateDescription} )" }#if( $velocityCount < $pssize ),#end
#end],
"programAssociations": $programAssociations.get(${program.id})
}#if( $velocityCount < $psize ),#end
#end }
}}
