#foreach( $patient in $sortedPatients )
<div id="visitPlanContainer" style="border:1px solid #808080; width:465px;">
    <table class="mainPageTable"> 
        <tr>            
            <td>
                <span class='bold'>$i18n.getString( "full_name" ):</span>$encoder.htmlEncode( $!patient.getFullName() )<br>
                <span class='bold'>$i18n.getString( "gender" ):</span>$i18n.getString( "$!patient.gender" )<br>
                <span class='bold'>$i18n.getString( "date_of_birth" ):</span>$format.formatDate( $!patient.birthDate )<br>
                <span class='bold'>$i18n.getString( "age" ):</span>$encoder.htmlEncode( $!patient.getAge() )
            </td>   
            <td style="vertical-align:top">
                <div style="float:right">                        
                    #set( $attributeValues = false )
                    #set( $attributeValues = $attributeValueMap.get( $patient.id ) )
                    #foreach( $attributeValue in $attributeValues )                            
                        <span class='bold'>$encoder.htmlEncode( $attributeValue.patientAttribute.name ):</span>$encoder.htmlEncode( $attributeValue.value )<br>
                    #end                         
                </div>
            </td>    
        </tr>            
    </table>
    #set( $stageInstances = false )
    #set( $stageInstances = $visitsByPatients.get( $patient ) )        
    <table class="listTable">
        <col>
        <col>
        <col>
        <tr>
            <th>$i18n.getString( "program" )</th>
            <th>$i18n.getString( "stage" )</th>
            <th>$i18n.getString( "due_date" )</th>           
        </tr>
        <tbody id="list">   
            #set( $mark = false )          
            #foreach( $stageInstance in $stageInstances )                    
                <tr #alternate( $mark )>                
                    <td>$!stageInstance.programInstance.program.name</td>
                    <td>$!stageInstance.programStage.name</td>
                    <td>$!format.formatDate( $!stageInstance.dueDate )</td>                
                </tr>
                #if( $mark )
                    #set( $mark = false )
                #else
                    #set( $mark = true )
                #end
            #end            
        </tbody>            
    </table>
</div>
<p></p>
#end
<div class="paging-container">
	#parse( "/dhis-web-commons/paging/paging.vm" )
</div>