
<h2>$i18n.getString( "registration" )&nbsp;</h2>
<ul>
	<li><a href="patient.action">$i18n.getString( "patient" )</a></li>	
</ul>

<h2>$i18n.getString( "data_entry" )&nbsp;</h2>
<ul>
	<li><a href="dataEntrySelect.action">$i18n.getString( "name_based" )&nbsp;</a></li>
	<li><a href="multipledataEntrySelect.action">$i18n.getString( "multiple_name_based" )&nbsp;</a></li>
	<li><a href="anonymousRegistration.action">$i18n.getString( "anonymous_events" )</a></li>
	<li><a href="singleEventSelect.action">$i18n.getString( "single_event_with_registration" )</a></li>
</ul>

<h2>$i18n.getString( "reports" )&nbsp;</h2>
<ul>
    <li><a href="reportSelect.action">$i18n.getString( "program_summary" )&nbsp;</a></li> 
	<li><a href="app/index.html"> $i18n.getString( "tabular_report" )&nbsp;</a></li> 
</ul>

<h2>$i18n.getString( "activity_planning" )&nbsp;</h2>
<ul>
    <li><a href="visitplan.action">$i18n.getString( "visit_plan" )&nbsp;</a></li>     
</ul>

<h2>$i18n.getString( "case_aggregation" )&nbsp;</h2>
<ul>
    <li><a href="caseAggregationForm.action">$i18n.getString( "case_aggregation" )</a></li>     
</ul>
