#foreach( $program in $programs )
	#if( $program.type=='1' )
		<ul class="introList" style='display: block;'>
			<li class="introItem" onclick="javascript:selectProgram('$program.id', '$program.name')">
			  <span class="introItemHeader"><img src="../icons/program.png" style="float:left; margin-right:15px">$program.name</span><br>
			  <span>$program.description</span>
			</li>
		</ul>	
	#end
#end
