
<a href="index.action"><h2>$i18n.getString( "reports" )&nbsp;</h2></a>
<ul>
    <li><a href="reportSelect.action">$i18n.getString( "program_summary" )&nbsp;</a></li>
	<li><a href="app/index.html"> $i18n.getString( "tabular_report" )&nbsp;</a></li> 
</ul>

<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )