<div id='reportTitle' name='reportTitle' style="display:none;">
	<h3>$i18n.getString('records_of') $encoder.htmlEncode( $patient.getFullName() )  $i18n.getString('at') $programStage.displayName $i18n.getString('in') $organisationUnit.name $i18n.getString('on_value') $format.formatDate($programStageInstance.executionDate)</h3>
	<hr/>
</div>

<div id='patientInforTB' name="patientInforTB" style="display:none;">
	<table>
		#if( $patient )
			<tr>            
				<td>
					<span class='bold' id="patientName">$i18n.getString( "full_name" ):</span>
				</td>
				<td>
					$encoder.htmlEncode( $patient.getFullName() ) ( $i18n.getString( "$patient.gender" ) )
				</td>
				<td class='bold text-column' style="vertical-align:top">$i18n.getString('program'): </td>
				<td style="vertical-align:right">$program.displayName</td>
			</tr>
			<tr>
				<td>
					<span class='bold'>$i18n.getString( "date_of_birth" ):</span>
				</td>
				<td>
					$format.formatDate( $patient.birthDate ) ( $encoder.htmlEncode( $patient.getAge() ) )
				</td>
				<td class='bold text-column' style="vertical-align:top">$i18n.getString('program_stage'): </td>
				<td style="vertical-align:right">$programStageInstance.programStage.displayName</td>
			</tr>
			#foreach( $attributeName in $calAttributeValueMap.keySet() )
			<tr>
				<td class='bold text-column'>$attributeName</td>
				<td>$calAttributeValueMap.get($attributeName)</td>
			</tr>
			#end
			<tr><td>&nbsp;</td></tr>
		#end
		
		#if( $programStageInstance )
			<tr>
				<th><label for="executionDate">$programStageInstance.programStage.reportDateDescription <em title="$i18n.getString( "required" )" class="required">*</em>&nbsp;&nbsp;&nbsp;</label></th>
				<th><input type="text" id="executionDate" name="executionDate" value="$!format.formatDate( $programStageInstance.executionDate )" onchange="saveExecutionDate( $programStageInstance.programInstance.program.id, $programStageInstance.id, byId('executionDate') )" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<script type="text/javascript">
					   datePickerValid( 'executionDate', false );
					</script>  
				<th id="dueDateLbl"><label for="dueDate"> $i18n.getString( "due_date" ) &nbsp;&nbsp;&nbsp;</label></th>
				<th id="dueDateField"><input type="text" id="dueDate" name="dueDate" value="$!format.formatDate( $programStageInstance.dueDate )" disabled="disabled">&nbsp;&nbsp;&nbsp;</th>
			</tr>
		#end
	</table>
</div>

<input type='hidden' id="programId" name="programId" type="text" readonly="readonly" value="$encoder.htmlEncode( $program.displayName )" style="min-width:350px">		
<input id="programStageId" name="programStageId" type="hidden" value="$programStage.id" style="min-width:350px">            

<p></p>
#parse( "dhis-web-commons/loader/loader.vm" )
<form id='dataEntryFormDiv' name='dataEntryFormDiv' >
	#parse( "dhis-web-caseentry/dataEntryForm.vm" )
</form>

<script type="text/javascript">
	jQuery('#patientForm').ready(	function(){
		enable('validationBtn');
		#if($programStageInstance.completed=='true') 
			disable('completeBtn');
			enable('uncompleteBtn');
		#else
			enable('completeBtn');
			disable('uncompleteBtn');
		#end
		setInnerHTML("patientNameLbl", "&raquo; " + "$encoder.jsEncode( $patient.getFullName() )");
	});
	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_incomplete_confirm_message = '$encoder.jsEscape( $i18n.getString( "incomplete_confirm_message" ) , "'")';
	var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
</script>