#if( $programInstances && $programInstances.size() > 0 )
<table class="mainPageTable">
<tr>
    <td style="vertical-align:top">    
    <table class="listTable">
        <tbody id="list" style="width:300px; overflow:auto;">
            #set( $mark = false )  
			#foreach( $programInstance in $programInstances )
                <tr #alternate( $mark )>                
					<td>
						<input type='button' class='patient-object' value='$programInstance.patient.getFullName()' onclick='javascript:showPatientHistory( $programInstance.patient.id )' title='$i18n.getString( "patient_details_and_history" )'>
					</td>				
                    #foreach( $programStageInstance in $programInstance.programStageInstances )
						<td>
							<img src='images/rightarrow.png'>
						</td>
						<td width='100px;'>
							<input type='button' class='stage-object' id='ps_$programStageInstance.id' value='$programStageInstance.programStage.name $format.formatDate( $programStageInstance.dueDate )' onclick='javascript:viewRecords( $programStageInstance.id )'>
							<script>	
								var status = $statusMap.get( $programStageInstance.id );
								setEventColorStatus( 'ps_' + $programStageInstance.id ,status);
							</script>
						</td>
                    #end
                </tr>
                #if( $mark )
                    #set( $mark = false )
                #else
                    #set( $mark = true )
                #end 
            #end    
        </tbody>
		<tr>
			#set( $size=$program.programStages.size() + 2 )
			<td colspan="$size">
				<p></p>
				<div class="paging-container">
					#parse( "/dhis-web-commons/paging/paging.vm" )
				</div>
			</td>
		</tr>
    </table>
    </td>
</tr>
</table>

<div id="viewRecordsDiv"></div>
#else
	<h4>$i18n.getString('no_result_found')</h4>
#end
<script>
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';
</script>