#set( $size = $psDataElements.size() )
{ "dataElements": [
#foreach( $psDataElement in $psDataElements )
  {
    "id": "de_$!{psDataElement.dataElement.id}",
    "name": "$encoder.xmlEncode(${psDataElement.dataElement.displayName} )",
	"compulsory": "${psDataElement.compulsory}",
	"valueType": #if( $psDataElement.dataElement.optionSet )
					"list"
				 #else
					"${psDataElement.dataElement.type}"
				 #end
  }#if( $velocityCount < $size ),#end
	#end]
}
