<table style="margin-bottom:8px">    
	<tr>
		<td>
			<label>$i18n.getString( "registering_unit" )</label>
		</td>
		<td>
			<input type="text" id='orgunitName' readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( 'please_select_village' )]" #end >
		</td>
		<td rowspan='2' valign='bottom'>
			<input type="button" class='large-button' id='listPatientBtn' value="$i18n.getString( 'list_all_patients' )" onclick="javascript:listAllPatient();" #if($organisationUnit) #else disabled #end>
			<input type="button" id='addPatientBtn' name='addPatientBtn' class='large-button' value='$i18n.getString( "add_new" )' onclick="showAddPatientForm();">
			<input type="button" value='$i18n.getString( "advanced_search" )' onclick="jQuery('#advanced-search').toggle();">
		</td>
	</tr> 
	<tr id='programAddPatientTR'class='hidden'>
		<td>$i18n.getString('program')</td>
		<td>
			<select id='programIdAddPatient' name='programIdAddPatient'>
				<option value=''>[$i18n.getString("please_select")]</option>
				#foreach($program in $programs)
					<option value="$program.id" type='$program.type'>$program.name</option>
				#end
			</select>
		</td>
	</tr>
</table>

<div id='advanced-search' class='hidden'>
	<table id='advancedSearchTB'>	
		<tbody>
			<tr id='advSearchBox0'>	       
				<td id='searchingAttributeIdTD'>
				  <select id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
					<option value="iden">$i18n.getString( "search_by_name_identifier" )</option>
					<option value="prg">$i18n.getString( "search_by_program" )</option>
					<option value="fixedAttr_birthDate">$i18n.getString( "date_of_birth" )</option>
					<option value="fixedAttr_age">$i18n.getString( "age_year" )</option>
					<option value="fixedAttr_gender">$i18n.getString( "gender" )</option>
					<option value="fixedAttr_phoneNumber">$i18n.getString( "phone_number" )</option>
					#foreach( $attribute in $patientAttributes )
						<option value="attr_$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.name )</option>
					#end
				  </select>
				  <em title="$i18n.getString( "required" )" class="required">*</em></label>
				</td>		
				<td>
					<input type="text" id="searchText" name="searchText" value="$!searchText" onkeyup='searchPatientsOnKeyUp( event );' style='margin-right:30px;'>
				</td>	
				<td></td>
				<td><input type="button" class='small-button' value='+' onclick='addAttributeOption();'>
					<td>
						$i18n.getString('search_by_selected_unit')
						<input type='checkbox' id='searchBySelectedOrgunit' name='searchBySelectedOrgunit' />
					</td>
					<td>
						<input type="button" class='large-button' value='$i18n.getString( "search" )' onclick='validateAdvancedSearch();'>
					</td>
				</td>
			</tr>
		</tbody>
	</table>
</div>