<h3>$i18n.getString( "name_based_data_entry" )</h3>

<br>

<form id="selectProgramForm" name="selectProgramForm" method="post" action="selectProgram.action">
<div>
    <input type="hidden" id="id" name="id" value="$patient.id">
</div>

<table>
    <tr>
        <td>            
            $encoder.htmlEncode( $patient.firstName )
        </td>
        <td>            
            $encoder.htmlEncode( $patient.middleName )
        </td>
        <td>            
            $encoder.htmlEncode( $patient.lastName )
        </td>               
        <td>            
            $i18n.getString($patient.gender )
        </td>
        <td>            
            $format.formatDate( $patient.birthDate )
        </td>
    </tr>
</table>

<hr style="clear:both">

<table>    
   <tr>
        <td><label for="programId">$i18n.getString( "program" )</label></td>
        <td>
            <select id="programId" name="programId" style="min-width:350px" onchange="document.getElementById( 'selectProgramForm' ).submit();" #if( $patient.programs.size() == 0 ) disabled="disabled" #end>
                <option value="null">[$i18n.getString( "select" )]</option>
                #foreach( $program in $patient.programs )
                    <option value="$program.id" #if( $programId && $program.id == $programId ) selected="selected" #end>$encoder.htmlEncode( $program.name )</option>
                #end
            </select>
        </td>
    </tr>      
</table>
</form>

<hr style="clear:both">
