<input type="hidden" id="programStageName" name="programStageName" value="$!encoder.jsEncode($programStage.displayName)">
<table width="100%">
	<tr>
		<td>
			<table class="listTable gridTable">
					 <col width="30"/>
					 <col/>
					 <col/>
					 <col/>
					 <col/>
					 <col/>
					 <col/>
				
				<thead>
					<tr>
						<th>#</th>
						<th>$i18n.getString( "orgunit" )</th>	
						<th>$i18n.getString('full_name')</th>
						<th>$i18n.getString( "gender" )</th>
						<th>$i18n.getString( "date_of_birth" )</th> 
						<th>$i18n.getString( "age" )</th>
						<th>$i18n.getString( "phone_number" )</th>
						<th>$i18n.getString( "due_date" )</th>
						<th>$i18n.getString( "report_date" )</th>
					</tr>
				</thead>
				<tbody>
					#foreach( $programStageInstance in $programStageInstances )
						#set( $patient = $programStageInstance.programInstance.patient )
					<tr>
						<td>
							#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
							$nr
						</td>
						<td>$!encoder.htmlEncode($!patient.organisationUnit.name)</td>
						<td>$!encoder.htmlEncode($patient.getFullName())</td>
						<td>$i18n.getString($!patient.gender)</td>
						<td>$format.formatDate( $!patient.birthDate)</td>
						<td>$!patient.getAge()</td>
						<td>$!patient.phoneNumber</td>
						<td>$format.formatDate($!programStageInstance.dueDate)</td>
						<td>
							#if($programStageInstance.executionDate)
								<a href="javascript:loadDataEntry($programStageInstance.id)">$format.formatDate($programStageInstance.executionDate)</a>
							#end
						</td>
					</tr>
					#end
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="7">
			<p></p>
			<div class="paging-container">
				#parse( "/dhis-web-commons/paging/paging.vm" )
			</div>
		</td>
  </tr>
</table>

<script>
	jQuery(document).ready(function(){
		setTableStyles();
	});
</script>