<h3>$i18n.getString( "visit_plan" )</h3>

<table>
    <tr>
        <td><label>$i18n.getString( "registering_unit" )</label></td>
        <td>
        	<input type="text" readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( "select" )]" #end style="min-width:350px">
        </td>
    </tr>
    <tr>
        <td>$i18n.getString( "sort_by" )</td>
        <td>
            <select id="sortingAttributeId" name="sortingAttributeId" style="min-width:350px"  onchange="sortByAttribute( this.options[this.selectedIndex].value )" #if( $attributes && $attributes.size() == 0 ) disabled="disabled" #end>
				<option value="-1">[ $i18n.getString( "select_sorting_attribute" ) ]</option>
                #foreach( $attribute in $attributes )
                    <option value="$attribute.id" #if( $sortingAttribute && $attribute.id == $sortingAttribute.id ) selected="selected" #end>$encoder.htmlEncode( $attribute.name )</option>
                #end
            </select>
        </td>
    </tr>
</table>

<hr style="clear:both">

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="contentDiv"></div>