body {
    font: normal 10px arial,sans-serif,ubuntu,consolas;
}

.x-body, .x-btn-default-toolbar-small .x-btn-inner, .x-form-item, .x-panel-header-text-default {
	font-family: arial,sans-serif,ubuntu,consolas;
}
	
.x-panel-body {
    font-size: 11px;
}

.dv-accordion-options .x-panel-body-default {
	border: 0 none;
}

/* Disable class invisible */
.dv-invisible .x-form-item-body {
    display: none;
}

/* Combobox empty text */
.x-form-empty-field, textarea.x-form-empty-field {
    font-size: 20px;
    color: red;
}

/* Combobox text position*/
.x-webkit .x-form-empty-field {
    line-height: 14px;
}

/* Combobox font size */
.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

/* Combobox border-radius */
.dv-combo input {
    border-radius: 2px 0px 0px 0px;
}

/* Combobox text position */
.dv-combo .x-form-text {
    padding-left: 5px;
}
.dv-combo .small .x-form-field {
	padding-top: 4px;
}

/* Combobox field label font */
.x-form-item-label {
    font: 11px arial,sans-serif,ubuntu,consolas;
    color: #111;
}

/* Splitter column */
.x-splitter {
    display: none;
}

/* Fieldset border */
.x-fieldset {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 4px;
}

/* Fieldset header */
.x-fieldset-header {
    padding-right: 7px;
}
.x-fieldset-header .x-fieldset-header-text {
    padding-left: 3px;
}

/* Fieldset trigger icons */
.dv-fieldset .x-tool img {
    background-image: url('../images/tool-sprites.gif');
    width: 25px;
}

    /* Untoggeled */
.x-tool-over .x-tool-toggle {
    background-position: -25px -60px;
}
.x-panel-collapsed .x-tool-over .x-tool-toggle, .x-fieldset-collapsed .x-tool-over .x-tool-toggle {
    background-position: -25px -75px;
}
    /* Toggeled */
.x-tool-down {
    background-position: 0 -75px;
}

.x-tool-over .x-tool-down {
    background-position: -25px -75px;
}

.x-tool-up {
    background-position: 0 -60px;
}

.x-tool-over .x-tool-up {
    background-position: -25px -60px;
}

/* Grid / Tree panel font color */
.x-grid-row .x-grid-cell {
    color: #222;
    background-color: transparent;
    border: 1px solid transparent;
}

.x-grid-row-selected .x-grid-cell {
    border: 1px solid transparent;
}

.x-grid-row-over {
    background-color: #f1f1f1;
}

.x-grid-row-over .x-grid-cell-first, .x-grid-row-selected .x-grid-cell-first {
    border-radius: 2px 0 0 2px;
}

.x-grid-row-over .x-grid-cell-last, .x-grid-row-selected .x-grid-cell-last {
    border-radius: 0 2px 2px 0;
}

/* DV menu grid */
.dv-menugrid .x-grid-row .x-grid-cell, .dv-menugrid .x-grid-row-selected .x-grid-cell {
    border: 0 none;
    background: #f1f1f1;
}
.dv-menugrid .x-grid-row .x-grid-cell-first,
.dv-menugrid .x-grid-row-selected .x-grid-cell-first,
.dv-menugrid .x-grid-row .x-grid-cell-last,
.dv-menugrid .x-grid-row-selected .x-grid-cell-last {
	border: 0 none;
}
    
.dv-menugrid .x-grid-row-over .x-grid-cell {
    border: 0 none;
    background-color: #e1e1e1;
    background-image: none;
}
.dv-menugrid .x-grid-row-over .x-grid-cell-first,
.dv-menugrid .x-grid-row-over .x-grid-cell-last {
	border: 0 none;
}

.dv-menugrid .x-grid-row-focused .x-grid-cell-inner {
	background-color: #f1f1f1;
}
.dv-menugrid .x-grid-row-focused .x-grid-cell {
	border-color: #f1f1f1;
}

/* Tree panel node height */
.dv-tree .x-tree-panel .x-grid-row .x-grid-cell-inner {
    height: 17px;
}

/* Tree panel selected row background */
.dv-tree .x-grid-row-selected .x-grid-cell,
.dv-tree .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #e0e0e0;
    border-radius: 2px 2px 2px 2px;
}

/* Tree panel hover row background */
.dv-tree .x-grid-cell {
    border-radius: 2px 2px 2px 2px;
}

/* Panel border */
.x-panel .x-grid-body {
    border-style: none;
}

/* Multiselect inner border */
.x-fit-item {
    border-style: none;
}

/* Boundlist (multiselect, comboboxlist etc) */
.x-boundlist-item {
    color: #333;
    padding: 3px 2px 3px 4px;
    font-size: 10px;
    border: 1px solid transparent;
}
.x-boundlist-item-over {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
}

/* Checkbox box label */
.x-form-cb-label-after {
    padding-left: 1px;
    font-size: 11px;
}
/* DV checkbox */
.dv-checkbox .x-form-item-label {
    padding-left: 5px;
}
.dv-checkbox .x-form-cb-label-after {
    margin-left: 3px;
    font-size: 11px;
}

/* Checkbox icons */
.x-form-checkbox {
    background-image: url('../images/checkbox.gif');
}

/* DV toolbar */
.dv-toolbar-1, .dv-toolbar-2, .dv-toolbar-tbar, .dv-toolbar-bbar {
	padding: 0;
}
.dv-toolbar-1 {
	height: 31px;
}
.dv-toolbar-tbar {
	height: 30px;
}
.dv-toolbar-bbar {
	height: 29px;
}

/* DV toolbar checkbox */
.dv-toolbar-1 .x-form-cb-wrap {
    padding-top: 5px;
}
.dv-toolbar-1 .x-form-cb-label-after {
    margin-left: 3px;
    color: #333;
}

/* Button dv-toolbar font size */
.dv-toolbar-1 * {
    font-size: 11px;
}
.dv-toolbar-1 .dv-toolbar-btn-1 * {
    color: #111;
    font-weight: bold;
}
.dv-toolbar-1 .dv-toolbar-btn-2 * {
    color: #444;
}

/* Button chart image */
.x-btn-default-toolbar-small-icon button {
    width: 32px !important;
}
.x-btn-default-toolbar-small-icon .x-btn-icon {
    width: 32px;
    height: 32px;
}
.x-btn-arrow {
    background-image: url('../images/arrow.png');
}

/* Button border */
.x-btn-default-toolbar-small,
.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-small-pressed {
    border-radius: 0px;
    border: 1px solid transparent;
}
.dv-toolbar-2 .x-btn-default-toolbar-small,
.dv-toolbar-2 .x-btn-default-toolbar-small-over,
.dv-toolbar-2 .x-btn-default-toolbar-small-pressed,
.dv-toolbar-multiselect-left .x-btn-default-toolbar-small,
.dv-toolbar-multiselect-left .x-btn-default-toolbar-small-over,
.dv-toolbar-multiselect-right .x-btn-default-toolbar-small,
.dv-toolbar-multiselect-right .x-btn-default-toolbar-small-over {
	border-radius: 2px;
}

.x-btn-default-toolbar-small-over {
    border-color: #e1e1e1;
    background-color: #e1e1e1;
    background-image: none;
}
.dv-toolbar-2 .x-btn-default-toolbar-small-over,
.dv-toolbar-multiselect-left .x-btn-default-toolbar-small-over,
.dv-toolbar-multiselect-right .x-btn-default-toolbar-small-over {
	border-color: #ccc;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -moz-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -o-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: -ms-linear-gradient(top, #fbfbfb,#e9e9e9);
    background-image: linear-gradient(top, #fbfbfb,#e9e9e9);
}

.dv-toolbar-2 .x-btn-default-toolbar-small-pressed,
.dv-toolbar-multiselect-left .x-btn-default-toolbar-small-pressed,
.dv-toolbar-multiselect-right .x-btn-default-toolbar-small-pressed {
	border-color: #aaa;
    background-image: none;
    background-color: #d6d6d6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7c7c7), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(top, #c7c7c7,#e0e0e0);
    background-image: -moz-linear-gradient(top, #c7c7c7,#e0e0e0);
    background-image: -o-linear-gradient(top, #c7c7c7,#e0e0e0);
    background-image: -ms-linear-gradient(top, #c7c7c7,#e0e0e0);
    background-image: linear-gradient(top, #c7c7c7,#e0e0e0);
}


.dv-toolbar-tbar .dv-toolbar-btn-2, .dv-toolbar-tbar .dv-toolbar-btn-2.x-menu-active {
	background: transparent;
	border-color: transparent;
}
.dv-toolbar-tbar .dv-toolbar-btn-2.over, .dv-toolbar-tbar .dv-toolbar-btn-2.x-menu-active.over {
	background: #e1e1e1;
	border-color: transparent;
}

/* Toolbar separator */
.x-toolbar .x-toolbar-separator-horizontal {
    height: 15px;
    border-right: 1px solid #f2f2f2;
}

/* Toolbar background */
.x-toolbar-default {
    border-color: #D0D0D0;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -moz-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -o-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -ms-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: linear-gradient(top, #f1f1f1,#f5f5f5);
}

/* Tooltip */
.x-tip {
    border-radius: 2px;
    padding: 3px 4px;
    border: 1px solid #444;
    background-color: #444;
}

.x-tip .x-tip-body {
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}

/* Chart tips (tooltip) */
.x-tip .x-tip-header .x-box-item {
    text-align: center;
}

/* Grid datatable column header */
.x-column-header-inner .x-column-header-text {
	font-size: 11px;
}

/* Grid row/cell text position */
.x-grid-cell-inner {
    line-height: 15px;
    font-size: 10px;
    cursor: pointer;
    cursor: hand;
}

/* Grid datatable column chooser */
.x-column-header-over .x-column-header-trigger, .x-column-header-open .x-column-header-trigger {
    display: none;
}

/* Toolbar second bar chart settings */
#chartsettings_tb {
    background: #f5f5f5;
    padding: 5px 0 0 8px;
    border-style: none;
    border-top: 1px dashed #ccc;
}

#chartoptions_tb {
    background: #f5f5f5;
	height: 100%;
    padding: 6px 0 0 8px;
    border-top: 2px ridge #e1e1e1;
    border-right: 0 none;
    border-bottom: 1px solid #ccc;
    border-left: 0 none;
}

/* Toolbar favorites */
#favorite_t, #organisationunit_t {
    border-bottom-width: 1px !important;
    border-radius: 2px;
}

.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
	border-color: #e1e1e1;
	background: #e1e1e1;
}

/* Multiselect dock border radius */
.dv-toolbar-multiselect-left .x-docked-top {
	border-top-left-radius: 2px;
}

.dv-toolbar-multiselect-right .x-docked-top {
	border-top-right-radius: 2px;
}

/* Multiselect docked bar font size */
.dv-toolbar-multiselect-left .dv-toolbar-multiselect-left-label {
    font-size: 11px;
    padding-left: 6px;
}
.dv-toolbar-multiselect-right .dv-toolbar-multiselect-right-label {
    font-size: 11px;
    padding-right: 7px;
}

/* Multiselect boundlist */
.dv-toolbar-multiselect-left .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
.dv-toolbar-multiselect-left .x-boundlist-selected {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.dv-toolbar-multiselect-right .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
.dv-toolbar-multiselect-right .x-boundlist-selected {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

/* Menu */
.x-menu-body {
    border-color: #bbb;
    border-radius: 2px;
}

/* Treepanel contextmenu */
#treepanel-contextmenu {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}

/* Menu item */
.x-menu-item-link {
    padding: 4px 5px 4px 28px;
}

/* Menu item color */
.x-menu-item-text {
    color: #111;
}

/* Fieldset */
.dv-fieldset-title-link {
    color:#000;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.dv-fieldset-title-link-alt1 {
    color:#555;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

/* Multiselect */
.dv-multiselect {
    color: #111;
}

/* Chart tips */
.dv-chart-tips, .dv-chart-tips-pie {
    border-radius: 2px;
    padding: 3px 4px 2px;
    border: 2px solid #777;
    background-color: #f1f1f1;
}
.dv-chart-tips-pie {
    padding: 3px 4px;
}

.dv-chart-tips .x-tip-body, .dv-chart-tips-pie .x-tip-body {
    padding: 4px;
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: normal;
    color: #444;
}
.dv-chart-tips-pie .x-tip-body {
	font-size: 13px;
}

/* Window */
.dv-window-title-favorite {
    padding-left: 19px;
    background-image: url('../images/favorite.png');
}
.dv-window-title-interpretation {
    padding-left: 19px;
    background-image: url('../images/interpretation.png');
}
.dv-window-title-datatable {
    padding-left: 19px;
    background-image: url('../images/datatable.png');
}
.dv-window-title-messagebox {
    padding-left: 16px;
    background-image: url('../images/error_m.png');
    background-position-y: 1px;
}

/* Label heading periods */
.dv-label-period-heading {
    font-size: 11px;
    font-weight: bold;
    color: #444;
    line-height: 20px;
}

/* Grid datatable columns */
.x-grid-header-ct {
    border-style: none;
}

/* Grid datatable first row border top */
.dv-datatable .x-fit-item {
    border-top: 1px solid #d0d0d0;
}

/* Menu item icon */
.dv-menu-item-png {
    background-image:url('../images/png.png');
    padding-left: 18px;
}

.dv-menu-item-pdf {
    background-image:url('../images/pdf.png');
    padding-left: 18px;
}

.dv-menu-item-edit {
    background-image:url('../images/edit.png');
    padding-left: 18px;
}

/* Textfield */
.dv-textfield .x-form-field, .dv-textfield-alt1 .x-form-field {  
    height: 26px;
    padding-left: 4px;
    border-radius: 2px;
    font-size: 11px;
    color: #333;
}
.dv-textfield .x-form-item-label {
    padding-left: 5px;
    line-height: 20px;
}
.dv-textfield-alt1 .x-form-item-label {
    padding-left: 5px;
    line-height: 8px;
}

/* DV window confirm list */
.dv-window-confirm-list .x-panel-body {
    color: #444;
    font-size: 10px;
    border-style: none;
}

/* Button DV menu toggle group */
.dv-radiogroup .x-form-cb-wrap {
    padding-left: 7px;
}
.dv-radiogroup .x-form-cb-label-after {
    padding-left: 2px;
    font-size: 10px;
    color: #444;
}
.dv-radiogroup .x-form-radio-group {
    padding-top: 5px;
}

/* DV menu grid icon/text position aligned with menuitem */
.dv-menugrid .x-grid-cell-inner {
    padding: 4px 3px 4px 5px;
    font-size: 10px;
    color: #444;
    line-height: 16px;
}

/* DV menu grid background now looks like a menu */
.dv-menugrid .x-grid-view {
    background-color: #f1f1f1;
}

/* DV messagebox alert */
.dv-messagebox .x-window-body-default {
	background-color: #fff;
	padding: 14px 10px 15px 15px;
	color: #333;
	font-size: 11px;
}

.dv-messagebox .x-toolbar-footer-docked-bottom {
	display: none;
}

/* DV statusbar */
.dv-statusbar .x-panel-body-default {
	padding: 5px 0 0 6px;
	border: 0 none;
	background-color: transparent;
	color: #111;
	vertical-align: top;
	font-size: 10px;
	line-height: 14px;
}

/* DV accordion */
.dv-accordion .x-accordion-item .x-accordion-hd, .dv-accordion .dv-accordion-options .x-accordion-hd { /* accordion title bar, shared */
	padding: 6px 5px 4px 8px;
	border: 0 none;
	cursor: pointer;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
.dv-accordion .x-accordion-item .x-accordion-hd { /* accordion title dock, default */
    background-image: none;
    background-color: #e0e0e0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #e5e5e5)) !important;
    background-image: -webkit-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -moz-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -o-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -ms-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: linear-gradient(top, #dcdcdc, #e5e5e5) !important;
}
.dv-accordion .dv-accordion-options .x-accordion-hd { /* accordion title dock, options */
    background-image: none;
    background-color: #d0d0d0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #d3d3d3)) !important;
    background-image: -webkit-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -moz-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -o-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -ms-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: linear-gradient(top, #cccccc, #d3d3d3) !important;
}
.dv-accordion .collapsed .x-accordion-hd { /* accordion title dock, default, collapsed */
	padding-bottom: 5px !important;
}

.dv-accordion .x-accordion-item, .dv-accordion-options .x-accordion-item { /* accordion title dock outer, shared */
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.dv-accordion .x-accordion-item { /* accordion title dock outer, default */
	border: 1px solid #c5c5c5;
	border-bottom: 0 none;
}
.dv-accordion .dv-accordion-options { /* accordion title dock outer, options */
	border: 1px solid #c0c0c0;
}

.dv-accordion .x-accordion-hd .x-panel-header-text { /* accordion title dock text, shared */
	font-weight: bold;
	cursor: pointer;
}

.dv-accordion .x-accordion-body { /* accordion item body */
	padding: 8px 8px 2px 8px;
	border-top: 1px solid #c5c5c5 !important;
}

.dv-accordion .x-accordion-hd-sibling-expanded {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.dv-accordion .dv-toolbar-multiselect-left, .dv-accordion .dv-toolbar-multiselect-right {
	margin-bottom: 0;
}

.dv-accordion .dv-combo .x-form-text, .dv-accordion .dv-combo .x-form-trigger { /* accordion combo box */
	height: 24px;
	padding-top: 1px;
}
.dv-accordion .dv-combo .x-form-item-label { /* accordion combo box label */
	padding: 4px 0 0;
}

/* DV textarea */
.dv-textarea .x-form-field {
	font-size: 11px;
}

/* Ext menu */
.x-menu-item-active .x-menu-item-link {
	border-radius: 0;
	border-color: #e1e1e1;
	background-color: #e1e1e1;
	background-image: none;
}
.x-menu-body {
	padding: 0;
}
