/* General
 *
 * Panel
 * Combobox
 * Grid
 * DV menu grid
 * Treepanel
 * MultiSelect
 * Checkbox
 * Toolbar
 * Button
 * Tooltip
 * Menu
 * Window
 * Textfield
 *
*/

/* General */

body,
.x-body,
.x-btn-default-toolbar-small .x-btn-inner,
.x-form-item,
.x-panel-header-text-default,
.x-grid-cell-inner,
.x-form-item-label,
.x-window-header-text-default {
	font-family: arial,sans-serif,ubuntu,consolas;
}

body {
    font-size: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dv-accordion-options .x-panel-body-default {
	border: 0 none;
}

.dv-invisible .x-form-item-body { /* Disable class invisible */
    display: none;
}

.x-splitter { /* Splitter column */
    display: none;
}

/* Panel */

.x-panel-body {
    font-size: 11px;
}
.x-panel .x-grid-body {
    border-style: none;
}

/* Combobox */

.x-webkit .x-form-empty-field { /* Combobox text position*/
    line-height: 14px;
}
.dv-combo .x-form-text {
    padding-left: 5px;
}
.dv-combo .small .x-form-field {
	padding-top: 2px;
}

.x-form-text, textarea.x-form-field { /* Combobox font size */
    font-size: 10px;
}

.dv-combo input { /* Combobox border-radius */
    border-radius: 2px 0px 0px 0px;
}

.x-form-item-label { /* Combobox field label font */
    font-size: 11px;
    color: #111;
}


/*----------------------------------------------------------------------------
 * PT Grid
 *--------------------------------------------------------------------------*/

.dv-grid-row-icon-edit,
.dv-grid-row-icon-overwrite,
.dv-grid-row-icon-sharing,
.dv-grid-row-icon-dashboard,
.dv-grid-row-icon-delete {
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.dv-grid-row-icon-edit {
	background: url('../images/grid-edit_16.png') no-repeat;
}
.dv-grid-row-icon-overwrite {
	background: url('../images/grid-save_16.png') no-repeat;
	margin-left: 4px;
}
.dv-grid-row-icon-sharing {
	background: url('../images/grid-sharing_16.png') no-repeat;
	margin-left: 4px;
}
.dv-grid-row-icon-dashboard {
	background: url('../images/grid-dashboard_16.png') no-repeat;
	margin-left: 4px;
}
.dv-grid-row-icon-delete {
	background: url('../images/grid-delete_16.png') no-repeat;
	margin-left: 4px;
}
.dv-grid-row-icon-disabled img.dv-grid-row-icon-edit,
.dv-grid-row-icon-disabled img.dv-grid-row-icon-overwrite,
.dv-grid-row-icon-disabled img.dv-grid-row-icon-delete {
	opacity: 0;
	filter:Alpha(opacity=0);
}
.dv-grid-row-icon-disabled * {
	cursor: default !important;
}
.dv-grid-row-icon-disabled img.dv-grid-row-icon-sharing,
.dv-grid-row-icon-disabled img.dv-grid-row-icon-dashboard {
	cursor: pointer !important;
}

.dv-grid .x-grid-cell-inner,
.dv-grid .x-grid-cell-inner * {
	font-size: 10px !important;
}
.dv-grid .x-grid-cell-inner {
	padding-top: 3px;
	padding-bottom: 3px;
}

.dv-grid .x-column-header-text {
	color: #333;
}
.dv-grid .x-grid-header-ct {
	border-bottom-width: 1px !important;
	border-bottom-color: #d0d0d0;
}
.dv-grid .x-grid-body {
	border: 1px solid #d0d0d0;
	border-top: 0 none !important;
}

.dv-grid .x-grid-dirty-cell { /* hide red "dirty" icon */
	background-image: none;
}
.dv-grid .x-grid-row { /* middle align text in row with image */
	vertical-align: middle;
}
.dv-grid .x-grid-row .x-grid-cell { /* remove blurry borders */
	border-top: 0 none;
}

.dv-grid .link,
.dv-grid .link * {
	cursor: pointer;
	cursor: hand;
	color: blue;
	text-decoration: underline;
}

/* DV menu grid */

.dv-menugrid .x-grid-row .x-grid-cell, .dv-menugrid .x-grid-row-selected .x-grid-cell {
    border: 0 none;
    background: #f5f5f5;
}
.dv-menugrid .x-grid-row .x-grid-cell-first,
.dv-menugrid .x-grid-row-selected .x-grid-cell-first,
.dv-menugrid .x-grid-row .x-grid-cell-last,
.dv-menugrid .x-grid-row-selected .x-grid-cell-last {
	border: 0 none;
}

.dv-menugrid .x-grid-row-over .x-grid-cell {
    border: 0 none;
    background-color: #e4e4e4;
    background-image: none;
}
.dv-menugrid .x-grid-row-over .x-grid-cell-first,
.dv-menugrid .x-grid-row-over .x-grid-cell-last {
	border: 0 none;
}

.dv-menugrid .x-grid-row-focused .x-grid-cell-inner {
	background-color: #f1f1f1;
}
.dv-menugrid .x-grid-row-focused .x-grid-cell {
	border-color: #f1f1f1;
}

/* Tree panel */

.dv-tree.x-tree-panel .x-grid-row .x-grid-cell-inner { /* node height, font size */
    height: 17px;
    font-size: 10px;
}

.dv-tree .x-grid-row-selected .x-grid-cell,
.dv-tree .x-grid-row-selected .x-grid-rowwrap-div { /* Selected row background */
    background-color: #e0e0e0;
    border-radius: 2px 2px 2px 2px;
}

.dv-tree .x-grid-cell { /* Hover row background */
    border-radius: 2px 2px 2px 2px;
}

/* Multiselect */

.x-fit-item { /* Inner border */
    border-style: none;
}

.dv-multiselect {
    color: #111;
}

/* Multiselect dock border radius */
.dv-toolbar-multiselect-left .x-docked-top {
	border-top-left-radius: 2px;
}

.dv-toolbar-multiselect-right .x-docked-top {
	border-top-right-radius: 2px;
}

/* Multiselect docked bar font size */
.dv-toolbar-multiselect-left .dv-toolbar-multiselect-left-label {
    font-size: 11px;
    padding-left: 6px;
}
.dv-toolbar-multiselect-right .dv-toolbar-multiselect-right-label {
    font-size: 11px;
    padding-right: 7px;
}

/* Multiselect boundlist */
.dv-toolbar-multiselect-left .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
.dv-toolbar-multiselect-left .x-boundlist-selected {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.dv-toolbar-multiselect-right .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
.dv-toolbar-multiselect-right .x-boundlist-selected {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

/* Boundlist (multiselect, comboboxlist etc) */
.x-boundlist-item {
    color: #333;
    padding: 3px 2px 3px 4px;
    font-size: 10px;
    border: 1px solid transparent;
}
.x-boundlist-item-over {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
}

/* Checkbox */

.x-form-cb-label-after { /* Box label */
    padding-left: 1px;
    font-size: 11px;
}

.dv-checkbox .x-form-item-label {
    padding-left: 5px;
}
.dv-checkbox .x-form-cb-label-after {
    margin-left: 3px;
    font-size: 11px;
}

.x-form-checkbox { /* Icons */
    background-image: url('../images/checkbox.gif');
}

/* Toolbar */

.x-toolbar .x-toolbar-separator-horizontal { /* Separator */
    height: 15px;
    border-right: 1px solid #f2f2f2;
}

.x-toolbar-default { /* Background */
    border-color: #D0D0D0;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -moz-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -o-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -ms-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: linear-gradient(top, #f1f1f1,#f5f5f5);
}

.dv-toolbar-btn-menu { /* Align menu */
	margin-top: 4px;
}

/* Button */

.x-btn-arrow {
	background-image: url('../images/arrow.png') !important;
}

.x-btn-default-toolbar-small,
.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-small-pressed {
	border-radius: 1px;
}
.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-small-pressed {
	border-color: #bbb;
}

.x-btn-default-toolbar-small-icon button { /* Chart image */
    width: 32px !important;
}
.x-btn-default-toolbar-small-icon .x-btn-icon {
    width: 32px;
    height: 32px;
}

.x-btn-default-toolbar-small-pressed {
	border-color: #bbb;
    background-image: none;
    background-color: #d6d6d6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -moz-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -o-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -ms-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: linear-gradient(top, #d1d1d1,#e5e5e5);
}

/* Tooltip */

.x-tip {
    border-radius: 2px;
    padding: 1px 4px;
    border: 1px solid #111;
    background-color: #111;
}

.x-tip .x-tip-body {
	font-size: 10px;
	color: #fff;
	-webkit-text-stroke: 0.2px #fff;
}

.x-tip-anchor {
	border-top-color: #111;
}

/* Chart tips (tooltip) */
.x-tip .x-tip-header .x-box-item {
    text-align: center;
}

/* Grid datatable column header */
.x-column-header-inner .x-column-header-text {
	font-size: 11px;
}

/* Grid datatable column chooser */
.x-column-header-over .x-column-header-trigger, .x-column-header-open .x-column-header-trigger {
    display: none;
}

/* Toolbar second bar chart settings */
#chartsettings_tb {
    background: #f5f5f5;
    padding: 5px 0 0 8px;
    border-style: none;
    border-top: 1px dashed #ccc;
}

#chartoptions_tb {
    background: #f5f5f5;
	height: 100%;
    padding: 6px 0 0 8px;
    border-top: 2px ridge #e1e1e1;
    border-right: 0 none;
    border-bottom: 1px solid #ccc;
    border-left: 0 none;
}

/* Toolbar favorites */
#favorite_t, #organisationunit_t {
    border-bottom-width: 1px !important;
    border-radius: 2px;
}

/* Menu */

.x-menu-body {
    border-color: #bbb;
    border-radius: 2px;
}

.x-menu-item-active .x-menu-item-link {
	border-radius: 0;
	border-color: #e1e1e1;
	background-color: #e1e1e1;
	background-image: none;
}
.x-menu-body {
	padding: 0;
}

/* Treepanel contextmenu */
#treepanel-contextmenu {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}

/* Menu item */
.x-menu-item-link {
    padding: 4px 5px 4px 28px;
}

/* Menu item color */
.x-menu-item-text {
    color: #111;
}

/* Chart tips */
.dv-chart-tips, .dv-chart-tips-pie {
    border-radius: 2px;
    padding: 1px 4px 2px;
    border: 2px solid #777;
    background-color: #f1f1f1;
}
.dv-chart-tips-pie {
    padding: 3px 4px;
}

.dv-chart-tips .x-tip-body, .dv-chart-tips-pie .x-tip-body {
    background-color: #f1f1f1;
    font-size: 13px;
    font-weight: normal;
    color: #444;
	-webkit-text-stroke: 0;
}
.dv-chart-tips-pie .x-tip-body {
	font-size: 13px;
}

/* Window */

.dv-window-title-favorite {
    padding-left: 19px;
    background-image: url('../images/favorite.png');
}
.dv-window-title-interpretation {
    padding-left: 19px;
    background-image: url('../images/interpretation.png');
}
.dv-window-title-datatable {
    padding-left: 19px;
    background-image: url('../images/datatable.png');
}
.dv-window-title-messagebox {
    padding-left: 16px;
    background-image: url('../images/error_m.png');
    background-position-y: 1px;
}

/* Label heading periods */
.dv-label-period-heading, .dv-label-period-heading-options {
    font-size: 11px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}
.dv-label-period-heading-options {
    background-color: #e1e1e1;
    padding: 1px 5px;
    border-radius: 2px
}

	/* Window bbar info */
.dv-label-info {
	font-size: 10px !important;
	color: #666;
	padding-left: 4px;
	height: 22px;
	line-height: 21px;
}

/* Grid datatable first row border top */
.dv-datatable .x-fit-item {
    border-top: 1px solid #d0d0d0;
}

.dv-datatable .x-grid-header-ct {
	border-top: 0 none;
	border-right: 0 none;
	border-left: 0 none;
}

.dv-datatable .x-grid-cell-inner {
	font-size: 10px;
}

/* Menu item icon */
.dv-menu-item-png {
    background-image:url('../images/png.png');
    padding-left: 18px;
}

.dv-menu-item-pdf {
    background-image:url('../images/pdf.png');
    padding-left: 18px;
}

.dv-menu-item-edit {
    background-image:url('../images/edit.png');
    padding-left: 18px;
}

/* Textfield */

.dv-textfield .x-form-field, .dv-textfield-alt1 .x-form-field {
    height: 26px;
    padding-left: 4px;
    border-radius: 1px;
    font-size: 11px;
    color: #333;
}
.dv-textfield .x-form-item-label {
    padding-left: 5px;
    line-height: 20px;
}
.dv-textfield-alt1 .x-form-item-label {
    padding-left: 5px;
    line-height: 8px;
}

/* DV window confirm list */
.dv-window-confirm-list .x-panel-body {
    color: #444;
    font-size: 10px;
    border-style: none;
}

/* Button DV menu toggle group */
.dv-radiogroup .x-form-cb-wrap {
    padding-left: 7px;
}
.dv-radiogroup .x-form-cb-label-after {
    padding-left: 2px;
    font-size: 10px;
    color: #444;
}
.dv-radiogroup .x-form-radio-group {
    padding-top: 5px;
}

/* DV menu grid icon/text position aligned with menuitem */
.dv-menugrid .x-grid-cell-inner {
    padding: 4px 3px 4px 6px;
    font-size: 10px;
    color: #444;
    line-height: 16px;
    height: 23px;
}

/* DV menu grid background now looks like a menu */
.dv-menugrid .x-grid-view {
    background-color: #f1f1f1;
}

/* DV messagebox alert */
.dv-messagebox .x-window-body-default {
	background-color: #fff;
	padding: 14px 10px 15px 15px;
	color: #333;
	font-size: 11px;
}

.dv-messagebox .x-toolbar-footer-docked-bottom {
	display: none;
}

/* DV statusbar */
.dv-statusbar .x-panel-body-default {
	padding: 5px 0 0 6px;
	border: 0 none;
	background-color: transparent;
	color: #111;
	vertical-align: top;
	font-size: 10px;
	line-height: 14px;
}

/* DV accordion */
.dv-accordion .x-accordion-item .x-accordion-hd, .dv-accordion .dv-accordion-options .x-accordion-hd { /* accordion title bar, shared */
	padding: 6px 5px 4px 8px;
	border: 0 none;
	cursor: pointer;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
.dv-accordion .x-accordion-item .x-accordion-hd { /* accordion title dock, default */
    background-image: none;
    background-color: #e0e0e0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #e5e5e5)) !important;
    background-image: -webkit-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -moz-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -o-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: -ms-linear-gradient(top, #dcdcdc, #e5e5e5) !important;
    background-image: linear-gradient(top, #dcdcdc, #e5e5e5) !important;
}
.dv-accordion .dv-accordion-options .x-accordion-hd { /* accordion title dock, options */
    background-image: none;
    background-color: #d0d0d0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #d3d3d3)) !important;
    background-image: -webkit-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -moz-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -o-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: -ms-linear-gradient(top, #cccccc, #d3d3d3) !important;
    background-image: linear-gradient(top, #cccccc, #d3d3d3) !important;
}
.dv-accordion .collapsed .x-accordion-hd { /* accordion title dock, default, collapsed */
	padding-bottom: 5px !important;
}

.dv-accordion .x-accordion-item, .dv-accordion-options .x-accordion-item { /* accordion title dock outer, shared */
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.dv-accordion .x-accordion-item { /* accordion title dock outer, default */
	border: 1px solid #c5c5c5;
	border-bottom: 0 none;
}
.dv-accordion .dv-accordion-options { /* accordion title dock outer, options */
	border: 1px solid #c0c0c0;
}

.dv-accordion .x-accordion-hd .x-panel-header-text { /* accordion title dock text, shared */
	font-weight: bold;
	cursor: pointer;
}

.dv-accordion .x-accordion-body { /* accordion item body */
	padding: 2px 2px 0px;
	border-top: 1px solid #c5c5c5 !important;
}

.dv-accordion .x-accordion-hd-sibling-expanded {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.dv-accordion .dv-toolbar-multiselect-left, .dv-accordion .dv-toolbar-multiselect-right {
	margin-bottom: 0;
}

.dv-accordion .dv-combo .x-form-text, .dv-accordion .dv-combo .x-form-trigger { /* accordion combo box */
	height: 24px;
	padding-top: 1px;
}
.dv-accordion .dv-combo .x-form-item-label { /* accordion combo box label */
	padding: 4px 0 0;
}

/* DV textarea */

.dv-textarea .x-form-field {
	font-size: 11px;
}
