#set($size=$object.size())#if($callback)$!{callback}(#end{"properties":{"hasCoordinatesUp":$!{hasCoordinatesUp}},"geojson":[#foreach($unit in $object){"ty":#if(${unit.featureType}=="Point")"2"#else"1"#end,"co":$!encoder.jsonEncode($!{unit.validCoordinates}),"uid":"$!{unit.uid}","iid":$!{unit.id},"na":"$!encoder.jsonEncode(${unit.name})","hc":$!{unit.hasChildrenWithCoordinates()},"path":"#foreach($anc in $unit.getAncestors())/${anc.uid}#end/${unit.uid}","pi":"$!{unit.getParent().uid}","pn":"$!{unit.getParent().name}"}#if($velocityCount<$size),#end#end]}#if($callback))#end