#set( $baseLayersSize = $baseLayers.size() )
#set( $overlaysSize = $overlays.size() )
{
  "mapView": { 
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsonEncode( ${mapView.name} )",
    "featureType": "$!encoder.jsonEncode( ${mapView.featureType} )",
    "mapValueType": "$!encoder.jsonEncode( ${mapView.mapValueType} )",
    "indicatorGroupId": "$!{mapView.indicatorGroup.id}",
    "indicatorId": "$!{mapView.indicator.id}",
    "dataElementGroupId": "$!{mapView.dataElementGroup.id}",
    "dataElementId": "$!{mapView.dataElement.id}",
    "periodTypeId": "$!encoder.jsonEncode( ${mapView.periodType.name} )",
    "periodId": "$!{mapView.period.id}",
    "parentOrganisationUnitId": "$!{mapView.parentOrganisationUnit.id}",
    "parentOrganisationUnitName": "$!encoder.jsonEncode( ${mapView.parentOrganisationUnit.name} )",
    "parentOrganisationUnitLevel": "$!{mapView.parentOrganisationUnit.level}",
    "organisationUnitLevel": "$!{mapView.organisationUnitLevel.level}",
    "organisationUnitLevelName": "$!{mapView.organisationUnitLevel.name}",
    "mapLegendType": "$!encoder.jsonEncode( ${mapView.mapLegendType} )",
    "method": "$!{mapView.method}",
    "classes": "$!{mapView.classes}",
    "bounds": "$!{mapView.bounds}",
    "colorLow": "$!encoder.jsonEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsonEncode( ${mapView.colorHigh} )",
    "mapLegendSetId": "$!{mapView.mapLegendSet.id}",
    "radiusLow": "$!{mapView.radiusLow}",
    "radiusHigh": "$!{mapView.radiusHigh}",
    "longitude": "$!encoder.jsonEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsonEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  },
  "userSettings": {
    "mapDateType": "$!encoder.jsonEncode( ${mapDateType} )"
  },
  "systemSettings": {
    "infrastructuralDataElements": "$!{infrastructuralDataElements.id}",
    "infrastructuralPeriodType": "$!{infrastructuralPeriodType.name}"
  },
  "baseLayers": [
#foreach( $baseLayer in $baseLayers )
    {
      "data": {
        "id": "$!{baseLayer.id}",
        "name": "$!encoder.jsonEncode( ${baseLayer.name} )",
        "url": "$!encoder.jsonEncode( ${baseLayer.url} )",
        "layers": "$!encoder.jsonEncode( ${baseLayer.layers} )"
      }
    }#if( $velocityCount < $baseLayersSize ),#end
#end
  ],
  "overlays": [
#foreach( $overlay in $overlays )
    {
      "data": {
        "id": "$!{overlay.id}",
        "name": "$!encoder.jsonEncode( ${overlay.name} )",
        "url": "$!encoder.jsonEncode( ${overlay.url} )",
        "fillColor": "$!encoder.jsonEncode( ${overlay.fillColor} )",
        "fillOpacity": "$!{overlay.fillOpacity}",
        "strokeColor": "$!encoder.jsonEncode( ${overlay.strokeColor} )",
        "strokeWidth": "$!{overlay.strokeWidth}"
      }
    }#if( $velocityCount < $overlaysSize ),#end
#end
  ],
  "security": {
    "isAdmin": $auth.hasAccess( "dhis-web-mapping", "deleteMapLegendSet" )
  },
  "rootNode": {
    "id": "$!{rootNode.id}",
    "name": "$!encoder.jsonEncode( ${rootNode.name} )",
    "level": 1,
    "hasChildrenWithCoordinates": $!{rootNode.hasChildrenWithCoordinates()}
  }
}