/* Gray-extend theme overrides */
.ext-gecko .x-window-body .x-form-item {
	overflow:hidden;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border-top:0px none;
}
.x-panel-body {
	border:0px;
}
.x-panel-tl {
    padding-left: 8px;
}
.x-form-field {
	font:10px lucida sans unicode,arial,ubuntu;
}
.x-form-item label.x-form-item-label {
    padding:3px 3px 3px 4px;
}
.x-combo-list {
	font:10px lucida sans unicode,arial,ubuntu;
}
.x-tree-node {
	font:10px lucida sans unicode,arial,ubuntu;
}
.x-panel-mc {
	font:10px lucida sans unicode,arial,ubuntu;
}
.x-tree-node a span, .x-dd-drag-ghost a span {
	padding:1px 3px 1px 4px;
}
.x-tree .x-panel-body {
	background-color:#FAFAFA;
}
#layertree_tp .x-tree-node-leaf .x-tree-node-icon {
    background:url('../../../images/settings_small.png') center center no-repeat;
}
#orgunittree .x-tree-node-leaf .x-tree-node-icon {
    background:url('../../resources/ext-ux/theme/gray-extend-ux/leaf.gif') center center;
    padding-right:1px;
}
.treepanel-node-icon-boundary {
    background:url('../../../images/boundary_small.png') center center no-repeat !important;
}
.treepanel-node-icon-thematic1 {
    background:url('../../../images/thematic1_small.png') center center no-repeat !important;
}
.treepanel-node-icon-thematic2 {
    background:url('../../../images/thematic2_small.png') center center no-repeat !important;
}
.treepanel-node-icon-symbol {
    background:url('../../../images/symbol_small.png') center center no-repeat !important;
}
.treepanel-node-icon-centroid {
    background:url('../../../images/centroid_small.png') center center no-repeat !important;
}
.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
	background-image:url('../../resources/ext-ux/theme/gray-extend-ux/btn.gif');
}
.x-toolbar .xtb-sep {
    background-image:url('../../resources/ext-ux/theme/gray-extend-ux/grid-split.png');
    height:23px;
}
.x-toolbar .xtb-sep-panel {
    background-image:url('../../resources/ext-ux/theme/gray-extend-ux/grid-split.png');
    height:17px;
}
.x-panel-tbar .x-toolbar {
    padding:0;
}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
	border-top:1px solid #d0d0d0;
}
.ux-mselect-item {
	font:10px lucida sans unicode,arial,ubuntu;
	padding:1px 1px 1px 3px;
}
.x-box-mc {
	font-family:arial,ubuntu;
	font-weight:normal;
}
.loading-indicator {
	font-size:10px;
	color:#666;
	padding-left:21px;
}
.x-date-picker {
    border-color:#aaaaaa;
}
.x-date-inner .x-date-today a {
    border-color:#999999;
}
.x-border-layout-ct {
    background-color: #fcfcfc;
}

/* OpenLayers (include in lib) */
/*
.olControlOverviewMapElement {
    -moz-border-radius:1em 0 0 0;
    background-color:#aaaaaa;
    padding:0;
}
.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px ridge #333333;
}
.olHandlerBoxZoomBox {
    border: 2px solid black;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
*/
.olControlPanPanel div {
    opacity:0.8
}

/* Ext Label */
.x-form-item-label {
	font:normal 11px lucida sans unicode,arial,ubuntu;
	color:#444;
}

/* Ext Menu */
a.x-menu-item-custom {
    padding: 2px 10px 3px 4px;
}
#viewhistory_m .x-menu-list {
    background-color:#f1f1f1;
}
.x-menu-list-item {
    font:10px lucida sans unicode,arial,ubuntu;
}
.menu-layeroptions-edit {
    background:url('../../../images/edit2.png') center bottom;
}
.menu-layeroptions-refresh {
    background:url('../../../images/refresh.png') center bottom;
}
.menu-layeroptions-clear {
    background:url('../../../images/clear2.png') center bottom;
}
.menu-layeroptions-filter {
    background:url('../../../images/filter.png') center bottom;
}
.menu-layeroptions-locate {
    background:url('../../../images/search2.png') center bottom;
}
.menu-layeroptions-opacity {
    background-image:url('../../../images/transparency2.png');
}
.menu-layeroptions-labels {
    background-image:url('../../../images/labels.png');
}
.menu-layeroptions-legend {
    background-image:url('../../../images/legendset.png');
}
.menu-layeroptions-period {
    background-image:url('../../../images/calendar2.png');
}
.menu-featureoptions-info {
    background-image:url('../../../images/information2.png');
}
.menu-featureoptions-relocate {
    background-image:url('../../../images/relocate.png');
}
.menu-featureoptions-drilldown {
    background-image:url('../../../images/drilldown.png');
}
.menu-mapview {
    background-image:url('../../../images/favorite.png');
}
.menu-history {
    background-image:url('../../../images/history2.png');
}
.no-icon-menu .x-menu-item-icon {
    display: none;
}
.x-menu-item-icon {
    width:14px;
    height:14px;
    top:4px;
}
.menu-layeroptions-opacity-10 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.1;
    filter:alpha(opacity=10);
}
.menu-layeroptions-opacity-20 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.2;
    filter:alpha(opacity=20);
}
.menu-layeroptions-opacity-30 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.3;
    filter:alpha(opacity=30);
}
.menu-layeroptions-opacity-40 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.4;
    filter:alpha(opacity=40);
}
.menu-layeroptions-opacity-50 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.5;
    filter:alpha(opacity=50);
}
.menu-layeroptions-opacity-60 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.6;
    filter:alpha(opacity=60);
}
.menu-layeroptions-opacity-70 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.7;
    filter:alpha(opacity=70);
}
.menu-layeroptions-opacity-80 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.8;
    filter:alpha(opacity=80);
}
.menu-layeroptions-opacity-90 {
    background-image:url('../../../images/transparency2.png');
    opacity:0.9;
    filter:alpha(opacity=90);
}
.menu-layeroptions-opacity-100 {
    background-image:url('../../../images/transparency2.png');
    opacity:1.0;
    filter:alpha(opacity=100);
}

/* Ext Button */
.x-btn-icon .x-btn-small .x-btn-text {
    height:14px;
    width:14px;
}
.x-btn button {
	font:normal 10px lucida sans unicode,arial,ubuntu;
}
.x-btn .icon-boundary  {
	background-image:url('../../../images/boundary.png');
}
.x-btn .icon-thematic1  {
	background-image:url('../../../images/thematic1.png');
}
.x-btn .icon-thematic2  {
	background-image:url('../../../images/thematic2.png');
}
.x-btn .icon-symbol  {
	background-image:url('../../../images/symbol.png');
}
.x-btn .icon-centroid  {
	background-image:url('../../../images/centroid.png');
}
.x-btn .icon-zoomin  {
	background-image:url('../../../images/zoom_in2.png');
}
.x-btn .icon-zoomout  {
	background-image:url('../../../images/zoom_out2.png');
}
.x-btn .icon-zoommin  {
	background-image:url('../../../images/zoom_world2.png');
}
.x-btn .icon-history {
	background-image:url('../../../images/history2.png');
}
.x-btn .icon-favorite {
	background-image:url('../../../images/favorite.png');
}
.x-btn .icon-predefinedlegendset {
	background-image:url('../../../images/legendset.png');
}
.x-btn .icon-image {
	background-image:url('../../../images/export3.png');
}
.x-btn .icon-admin {
	background-image:url('../../../images/gear.png');
}
.x-btn .icon-help {
	background-image:url('../../../images/question.png');
}
.x-btn .icon-exit {
	background-image:url('../../../images/exit2.png');
}
.x-btn .icon-baselayer {
	background-image:url('../../../images/baselayer.png');
}
.x-btn .icon-overlay {
	background-image:url('../../../images/overlay.png');
}
.x-btn .icon-labels {
	background-image:url('../../../images/labels.png');
}
.x-btn .icon-add {
	background-image:url('../../../images/register.png');
}
.x-btn .icon-remove {
	background-image:url('../../../images/remove.png');
}
.x-btn .icon-assign {
	background-image:url('../../../images/accept.png');
}
.x-btn .icon-cancel {
	background-image:url('../../../images/cancel2.png');
}
.x-btn .icon-resize {
	background-image:url('../../../images/resize.png');
}
.x-btn .icon-labels {
	background-image:url('../../../images/labels.png');
}
.x-btn .icon-measure {
	background-image:url('../../../images/measure.png');
}
.x-btn-noicon .x-btn-small .x-btn-text {
    height:16px;
    padding:0 5px;
}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    padding-left:18px;
}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    height:15px;
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button {
    padding-right:2px;
}

/* Ext ComboBox */
.combo-disabled {
    opacity:0.70;
    filter:alpha(opacity=70);
    color:#000000;
    border-color:#9ca1b8;
    cursor: default;
}

/* Ext Loading Mask */
.x-mask-loading2 div {
	padding:5px 11px 6px 32px;
	background:#fbfbfb url('../../../images/loader.gif') no-repeat 5px 2px;
	line-height:20px;
	font:normal 10px lucida sans unicode,arial,ubuntu;
}

/* Ext Window */
.window-info {
	padding:0 0 8px 0;
	font:bold 11px arial;
	color:#111;
}
.window-p {
    padding:4px 0;
}
.window-field-label {
	padding:6px 0 3px 4px;
	font:normal 11px lucida sans unicode,arial,ubuntu;
	color:#555555;	
}
#window-boundary-title {
	padding:0 0 3px 21px;
	background:url('../../../images/boundary.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-thematic1-title {
	padding:0 0 3px 21px;
	background:url('../../../images/thematic1.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-thematic2-title {
	padding:0 0 3px 21px;
	background:url('../../../images/thematic2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-symbol-title {
	padding:0 0 3px 21px;
	background:url('../../../images/symbol.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-centroid-title {
	padding:0 0 3px 21px;
	background:url('../../../images/centroid.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-favorites-title {
	padding:0 0 3px 21px;
	background:url('../../../images/favorite.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-predefinedlegendset-title {
	padding:0 0 3px 21px;
	background:url('../../../images/legendset.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-image-title {
	padding:0 0 3px 21px;
	background:url('../../../images/export3.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-admin-title {
	padding:0 0 3px 21px;
	background:url('../../../images/gear.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-help-title {
	padding:0 0 3px 21px;
	background:url('../../../images/question.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-baselayer-title {
	padding:0 0 3px 21px;
	background:url('../../../images/baselayer.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-maplayer-title {
	padding:0 0 3px 21px;
	background:url('../../../images/overlay.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-period-title {
	padding:0 0 3px 21px;
	background:url('../../../images/calendar2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-labels-title {
	padding:0 0 3px 21px;
	background:url('../../../images/labels.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-locate-title {
	padding:0 0 3px 21px;
	background:url('../../../images/search2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
#window-measure-title {
	padding:0 0 3px 21px;
	background:url('../../../images/measure.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
.window-information-title {
	padding:0 0 3px 21px;
	background:url('../../../images/information2.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
.window-relocate-title {
	padding:0 0 3px 21px;
	background:url('../../../images/relocate.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}
.window-filter-title {
	padding:0 0 3px 21px;
	background:url('../../../images/filter.png') no-repeat 0 0 transparent;
	font:bold 11px arial;
	color:#111;
}

/* Ext Panel */
.panel-title {
	font:bold 11px arial;
	color:#111;
}
.x-panel-header {
    font-family:lucida sans unicode,arial,ubuntu;
}

/* Ext TabPanel */
.x-tab-panel-body {
    border-color:#ffffff;
    font-family:lucida sans unicode,arial,ubuntu;
}
.panel-tab-title {
    font:normal 11px lucida sans unicode,arial,ubuntu;
    color:#333;
}

/* Ext Gridpanel */
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left-color:#eeeeee;
}
.x-grid3-header-offset {
    padding-left:0px;
}
.x-grid3-cell-inner {
    color:#111111;
    font-size:10px;
    font-family:arial,ubuntu;
}
.x-grid3-hd-inner {
    color:#0a0a0a;
    font: 11px arial,ubuntu;
}
.x-grid3-row {
    border-color:#ffffff;
    border-bottom-color:#eeeeee;
}
.x-grid3-row-over {
    color:red;
}
.sort-asc .x-grid3-sort-icon {
    display:none;
}
#featuregrid_gp .x-grid3-header {
    display:none;
}

/* Ext TableLayout */
.x-table-layout-cell {
    vertical-align:top;
}

/* DHIS Help */
#help {
	padding:0px 8px 8px 8px;
}
#help h3 {
	padding:8px 0 0 0;
	font:bold 11px arial;
	color:#111;
}
#help p {
	padding:4px 0 4px 0;
	font:normal 11px lucida sans unicode,arial,ubuntu;
	color:#222222;
}

/* GIS */
.thematic-br {
    padding:7px 0 0 0;
}
.menu-item-inline-bg {
    background:url('../../../images/history2_small.png') no-repeat left center;
    padding-left:24px;
}
.menu-item-inline-c1 {
    color:#555;
    margin-right:6px;
}
.menu-item-inline-c2 {
    color:#222;
    margin-right:6px;
}
.treepanel-layer-border {
    padding:3px 0 0 2px;
    margin-left:3px;
    background-color:#fff;
    width:250px;
    height:258px;
    border:1px solid #bbb;
    overflow:auto;
}
#east {
    width:195px;
}
#mouseposition {
    padding:0 0 0 6px;
    height:19px;
}
#featuredatatext {
    padding:0 0 0 6px;
    height:30px;
}
#polygonlegend {
    padding:0 0 6px 6px;
}
#pointlegend {
    padding:0 0 6px 6px;
}
#symbollegend {
    padding:0 0 6px 6px;
}
#centroidlegend {
    padding:0 0 6px 6px;
}
#map_tb .x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border:1px solid #bbbbbb;
    border-bottom:1px solid #cccccc;
    
    background:url('../../resources/ext-ux/theme/gray-extend-ux/bg2.png') repeat-x;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
}
#measureDistanceDiv {
    padding:0 0 0 5px;
    color:#222222;
}
