CACHE MANIFEST
# 2.9-SNAPSHOT Version 1
NETWORK:
*
CACHE:
css/light_blue/dom.js
css/light_blue/light_blue.css
css/light_blue/logo_background.png
css/light_blue/logo_banner.png
css/light_blue/logo_separator.png
css/widgets.css
../dhis-web-dataentry/style/dhis-web-dataentry.css
javascripts/jQuery/jquery.min.js
javascripts/jQuery/jquery.metadata.js
javascripts/jQuery/jquery.glob.js
javascripts/jQuery/jquery.date.js
javascripts/jQuery/jquery.tmpl.js
i18nJavaScript.action
javascripts/commons.js
javascripts/lists.js
javascripts/periodType.js
javascripts/date.js
javascripts/dhis2/dhis2.util.js
javascripts/dhis2/dhis2.array.js
javascripts/dhis2/dhis2.select.js
javascripts/dhis2/dhis2.comparator.js
javascripts/dhis2/dhis2.availability.js
javascripts/jQuery/jquery.cookie.js
../main.js
ouwt/ouwt.js 
fonts/LiberationSans-Regular-webfont.eot
fonts/LiberationSans-Regular-webfont.woff
fonts/LiberationSans-Regular-webfont.ttf
fonts/LiberationSans-Regular-webfont.svg
fonts/LiberationSans-Bold-webfont.eot
fonts/LiberationSans-Bold-webfont.woff
fonts/LiberationSans-Bold-webfont.ttf
fonts/LiberationSans-Bold-webfont.svg
../images/treeview-gray-line.gif
../images/show_menu.png
../images/hide_menu.png
../images/search.png
../images/colapse.png
../images/expand.png
../images/transparent.gif
../images/help.png
../images/hide.png
../images/ajax-loader-circle.gif
../images/ajax-loader-bar.gif
../dhis-web-dataentry/javascript/form.js
../dhis-web-dataentry/javascript/entry.js
../dhis-web-dataentry/javascript/history.js