#macro( objectList $objectName $objects )
    <table class="objectListTable">
        <col>
        <col width="80">
        <tr>
            <td class="filter"><label for="filter">$i18n.getString( "filter_by_name" )</label>: <form action="none" onsubmit="filterValues(this.firstChild.firstChild.value);return false"><div><input id="filter" type="text"><input type="submit" value="Filter"></div></form></td>
            <td style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAdd${objectName}Form.action'"></td>
        </tr>
        <tr>
            <th>$i18n.getString( "name" )</th>
            <th>$i18n.getString( "operations" )</th>
        </tr>
        <tbody id="list">
        #set( $mark = false )
        #set( $info = false )
        #foreach( $object in $objects )
        <tr #if( $mark ) class="odd" #end>
            <td>$encoder.htmlEncode( $object.name )</td>
            <td>
              <a href="showUpdate${objectName}Form.action?id=${object.id}" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
              <a href="$i18n.getString( "translation_translate" )" title="$i18n.getString( "translation_translate" )" onclick="this.href='javascript:location.href= \'../dhis-web-commons/i18n.action?className=${objectName}&amp;$objectId=${object.id}&amp;returnUrl=\' + location.href'"><img src="../images/i18n.png" alt="$i18n.getString( "translation_translate" )"></a>
              <a href="javascript:remove${objectName}( $object.id, '$encoder.jsEncode( $object.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
              <a href="javascript:show${objectName}Details( $object.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
            </td>
        </tr>
            #if( $mark )
                #set( $mark = false )
            #else
                #set( $mark = true )
            #end
        #end
        </tbody>
    </table>
#end

#macro( alternate $mark )
#if ( $mark ) class="listAlternateRow"#else class="listRow"#end
#end

#macro( formatBool $bool )
#if ( $bool )
  $i18n.getString( "yes" )
#else
  $i18n.getString( "no" )
#end
#end

#macro( formatAggregationOperator $operator )
#if ( $operator == "average" )
  $i18n.getString( "average" )
#elseif ( $operator == "count" )
  $i18n.getString( "count" )
#elseif ( $operator == "sum" )
  $i18n.getString( "sum" )
#else
  $i18n.getString( "unknown" )
#end
#end

#macro( formatType $type )
#if ( $type == "string" )
  $i18n.getString( "text" )
#elseif ( $type == "bool" )
  $i18n.getString( "yes_no" )
#elseif ( $type == "int" )
  $i18n.getString( "number" )
#else	   
  $i18n.getString( "unknown" )
#end
#end

#macro( openHelp $id )
<a href="javascript:getHelpContent('${id}')" title="$i18n.getString( 'help' )"><img src="../images/help.png" alt="$i18n.getString( 'help' )"></a>
#end

#macro( introListItem $action $objectKey )
<li class="introItem" onclick="window.location.href='${action}'">
  <span class="introItemHeader">$i18n.getString( "${objectKey}" )</span><br>$i18n.getString( "intro_${objectKey}" )
</li>
#end

#macro( introListImgItem $action $objectKey $image )
<li class="introItem" onclick="window.location.href='${action}'">
  <span class="introItemHeader"><img src="../icons/${image}.png" style="float:left; margin-right:15px">$i18n.getString( "${objectKey}" )</span><br>$i18n.getString( "intro_${objectKey}" )
</li>
#end

#macro( organisationUnitSelectionTree $cleanAll $multipleSelectionAllowed $required )
#if( $multipleSelectionAllowed )
	#parse( "/dhis-web-commons/oust/selectionTreeMultipleSelect.vm" )
#else
	#parse( "/dhis-web-commons/oust/selectionTreeSingleSelect.vm" )
#end	
#end

#macro( filterDiv $action )
<form id="filterKeyForm" action="${action}.action" method="POST">	
	<input type="text" id="key" name="key" value="$!encoder.htmlEncode( $key )" placeholder="$i18n.getString( 'filter_by_name' )" style="width:140px"/>
	<input type="hidden" id="curKey" name="curKey" value="$!encoder.htmlEncode( $key )"/>
	<input type="submit" value="$i18n.getString( 'filter' )" style="width:55px"/>
	<input type="button" value="$i18n.getString( 'clear' )" 
	   onclick="window.location.href='${action}.action'" style="width:55px"/>
</form>
#end

#macro( trHeader $text )
<tr>
	<th colspan="2">$text</th>
</tr>
#end

#macro( trTextInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory,rangelength:[2,230]}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trBooleanSelectInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<select style="width: 244px;" id="$!args.id" name="$!name" class="{validate:{required:$args.mandatory}}">
			<option value="" />
			<option value="true" #if( $!args.value=="true" )selected="selected"#end>Yes</option>
			<option value="false" #if( $!args.value=="false" )selected="selected"#end>No</option>
		</select>
	</td>
</tr>
#end

#macro( trDateInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<script type="text/javascript">
jQuery(function() {
	jQuery("#$!args.id").datepicker({ "dateFormat": "yy-mm-dd" });
});
</script>

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trNumberInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory,maxlength:230,number:true}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trIntegerInput $args ) 
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory,maxlength:230,integer:true}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trPositiveIntegerInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory,maxlength:230,positive_integer:true}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trNegativeIntegerInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<input type="text" id="$!args.id" name="$!name" value="$!args.value" class="{validate:{required:$args.mandatory,maxlength:230,negative_integer:true}}" style="width: 240px;" />
	</td>
</tr>
#end

#macro( trMultipleChoiceInput $args )
#if( "$!args.name" == "" )
	#set( $name = $!args.id )
#else
	#set( $name = $!args.name )
#end

<tr>
	<td style="width: 200px;"><label for="$!args.id">$!args.text #if($args.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em>#end</label></td>
	<td>
		<select style="width: 244px;" id="$!args.id" name="$name" class="{validate:{required:$args.mandatory}}">
		<option value="" #if( $choice == $args.value )selected="selected"#end />
		#foreach( $choice in $args.choices )
			<option value="$choice" #if( $args.value == $choice )selected="selected"#end>$choice</option>
		#end
		</select>
	</td>
</tr>
#end

#macro( tblDynamicAttributesJavascript )
var attributes = jQuery("form").find(":input[name*='attribute_']");
var jqJsonAttributeValues= jQuery("#jsonAttributeValues");
jqJsonAttributeValues.children().remove();

jQuery.each(attributes, function(i, item) {
	var jqItem = jQuery(item);
	var json = {};

	json.id = jqItem.attr("id").split("_")[1];

	if( jqItem.is("input[type='text']") )
	{
		json.value = jqItem.val();
	}
	else if( jqItem.is("select") )
	{
		json.value = jqItem.find(":selected").val();
	}

	json = JSON.stringify(json);

	jQuery("<option />")
		.attr("value", json)
		.attr("selected", "selected")
		.text(json)
	.appendTo(jqJsonAttributeValues);
});
#end

#macro( tblDynamicAttributes $args )

#if( $args.attributes.size() > 0 )
<select multiple="multiple" id="jsonAttributeValues" name="jsonAttributeValues" style="display: none;"></select>

<div id="dynamicAttributesContainer" style="margin-bottom: 10px;">
<table>
	#foreach( $attribute in $args.attributes )
		#set( $text = $attribute.displayName )
		#set( $id = $attribute.id )
		#set( $mandatory = $attribute.mandatory )
		#if( $!args.attributeValues.get( $attribute.id ) )
			#set( $value = $!args.attributeValues.get( $attribute.id ) )
		#else
			#set( $value = "" )
		#end

		#if( $attribute.valueType == "string" )
			#trTextInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )
		#elseif(  $attribute.valueType == "bool" )
			#trBooleanSelectInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )	
		#elseif( $attribute.valueType == "date" )
			#trDateInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )	
		#elseif( $attribute.valueType == "number" )
			#trNumberInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )
		#elseif( $attribute.valueType == "integer" )
			#trIntegerInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )
		#elseif( $attribute.valueType == "positive_integer" )
			#trPositiveIntegerInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )
		#elseif( $attribute.valueType == "negative_integer" )
			#trNegativeIntegerInput( { "text": $text, "id": "attribute_$id", "mandatory": $mandatory, "value": $value } )
		#end
	#end
</table>
</div>
#end
#end

#macro( sharingDialog )

<script>
function loadSharingSettings( type, uid ) {
    return $.ajax( {
        url: '../api/sharing',
        data: {
            type: type,
            id: uid
        },
        dataType: 'json'
    } );
}

function saveSharingSettings( type, uid, data ) {
    return $.ajax( {
        url: '../api/sharing?type=' + type + '&id=' + uid,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify( data )
    } );
}

var sharingSelectedItem;

function renderUserGroupAccessTemplate(item) {
    var tmpl = jQuery('#user-group-access-template').html();
    var tmpl_html = _.template(tmpl, item);

    return tmpl_html;
}

function addUserGroupAccessSelectedItem(e) {
    var tmpl_html = renderUserGroupAccessTemplate({
        label: sharingSelectedItem.label,
        id: sharingSelectedItem.id,
        access: "r-------"
    });

    $(tmpl_html).insertAfter( $('#sharingAccessTable tbody tr').not('[id]') );

    $('#sharingFindUserGroup').val('')
    sharingSelectedItem = undefined;

    $( '#addUserGroupAccess' ).attr( 'disabled', true );
}

function removeUserGroupAccess(e) {
    $( this ).parent().parent().remove();
    e.preventDefault();
}

function clearUserGroupAccesses() {
    $('#sharingAccessTable tbody tr[id]' ).remove();
}

function setUserGroupAccesses(userGroupAccesses) {
    clearUserGroupAccesses();

    if(userGroupAccesses) {
        $.each(userGroupAccesses, function(idx, item) {
            var tmpl_html = renderUserGroupAccessTemplate({
                label: item.name,
                id: item.id,
                access: item.access
            });

            $(tmpl_html).insertAfter( $('#sharingAccessTable tbody tr').not('[id]') );
        });
    }
}

function setPublicAccess(access) {
    $( '#sharingPublicAccess option' ).removeAttr( 'selected' ).each( function ( idx, item ) {
        if ( $( item ).val() == access ) {
            $( item ).attr( 'selected', true );
        }
    } );
}

function getPublicAccess() {
    return $( '#sharingPublicAccess' ).val();
}

function getUserGroupAccesses() {
    var v = [];

    $( '#sharingAccessTable tbody tr[id]' ).each( function ( idx, item ) {
        var jqItem = $(item);

        var groupName = $( item ).find('.sharingGroupName').text();
        var groupAccess = $( item ).find('.sharingGroupAccess').val();

        v.push({
            id: jqItem.attr('id'),
            name: groupName,
            access: groupAccess
        });
    } );

    return v;
}

function showSharingDialog( type, uid ) {
    loadSharingSettings( type, uid ).done( function ( data ) {
        setPublicAccess( data.object.publicAccess );
        setUserGroupAccesses( data.object.userGroupAccesses );

        $( '#sharingName' ).text( data.object.name );

        if ( !data.meta.allowPublicAccess ) {
            $( '#sharingPublicAccess' ).attr( 'disabled', true );
        }

        $( '.removeUserGroupAccess' ).unbind( 'click' )
        $( document ).on( 'click', '.removeUserGroupAccess', removeUserGroupAccess );
        $( '#addUserGroupAccess' ).unbind( 'click' ).bind( 'click', addUserGroupAccessSelectedItem );

        $( '#sharingFindUserGroup' ).autocomplete( {
            source: function ( request, response ) {
                $.ajax({
                    url: '../api/sharing/search',
                    dataType: 'json',
                    data: {
                        key: request.term
                    }
                } ).success(function(data) {
                    var v = [];
                    var u = getUserGroupAccesses();

                    if(data.userGroups) {
                        $.each(data.userGroups, function(idx, item) {
                            var d = {};

                            d.label = item.name;
                            d.value = item.name;
                            d.id = item.id;

                            var found = false;

                            $.each(u, function(idx, item) {
                                if(item.id == d.id) {
                                    found = true;
                                }
                            });

                            if(!found) {
                                v.push(d);
                            }
                        });
                    }

                    response(v);
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                sharingSelectedItem = ui.item;
                $( '#addUserGroupAccess' ).removeAttr( 'disabled' );
            }
        });

        $( '#sharingSettings' ).dialog( {
            modal: true,
            resizable: false,
            width: 485,
            height: 480,
            buttons: {
                'Cancel': function () {
                    $( this ).dialog( 'close' );
                },
                'Save': function () {
                    var me = $( this );

                    data.object.publicAccess = getPublicAccess();
                    data.object.userGroupAccesses = getUserGroupAccesses();

                    saveSharingSettings( type, uid, data ).done( function () {
                        me.dialog( 'close' );
                    } );
                }
            }
        } );
    } );
}
</script>

<div id="sharingSettings" title='$i18n.getString( "sharing_settings" )' style="display: none;">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td colspan="2"><h3 style="border-bottom: 1px solid black;" id="sharingName"></h3></td>
            </tr>

            <tr>
                <td><input style="width: 100%;" id="sharingFindUserGroup" placeholder="Search for user groups"/></td>
                <td style="width: 24px;"><button id="addUserGroupAccess" disabled="disabled" style="width: 24px; text-align: center;">+</button></td>
            </tr>
        </tbody>
    </table>

    <table id="sharingAccessTable" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 300px;">Public Access</td>
                <td>
                    <select id="sharingPublicAccess" style="width: 150px;">
                        <option selected="selected" value="--------">None</option>
                        <option value="r-------">Read Only</option>
                        <option value="rw------">Read and Write</option>
                    </select>
                </td>
                <td style="width: 25px; text-align: center;"></td>
            </tr>
        </tbody>
    </table>
</div>

<script id="user-group-access-template" type="text/template">
<tr id="<%= id %>">
    <td class="sharingGroupName" style="width: 300px;"><%= label %></td>
    <td>
        <select class="sharingGroupAccess" style="width: 150px;">
            <option value="r-------" <% if(access == 'r-------') { %>selected<% } %>>Read Only</option>
            <option value="rw------" <% if(access == 'rw------') { %>selected<% } %>>Read and Write</option>
        </select>
    </td>
    <td style="width: 25px; text-align: center;"><a href="" class="removeUserGroupAccess">X</a></td>
</tr>
</script>
#end
