<h3>$i18n.getString( "add_multi_program_validation" )</h3>

<form id='programValidationForm' name='programValidationForm' method='post' action='addProgramValidation.action'>

<input type='hidden' id='programId' name='programId' value='$program.id'>
<input type='hidden' id='dateType' name='dateType' value='false'>
<table>
	
	<thead>
      <tr>
        <th colspan="2">$i18n.getString( "program_validation_details" )</th>
      </tr>
    </thead>
    <tbody>
	
	<tr>
		<td>
			<label>$i18n.getString('description')</label>
		</td>
	</tr>
	<tr>
		<td colspan='2'>			
			<input type="text" id='description' name='description' style='width:640px' class="{validate:{required:true,minlength:4}}">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<th colspan='2'>
			<label>$i18n.getString('validation')</label>
		</th>
	</tr>
	<tr>
		<td>
			<label>$i18n.getString('left_side')</label>
		</td>
		<td>
			<label>$i18n.getString('right_side')</label>
		</td>
	</tr>
	<tr>
		<td>
			<select id='leftStage' name='leftStage' onchange="getLeftPrgramStageDataElements();">
				<option value=''>[$i18n.getString( "please_select" )]</option>
				#foreach($stage in $program.programStages)
				<option value='$stage.id'>$stage.name</option>
				#end
			</select>
		</td>
		<td>
			<select id='rightStage' name='rightStage' onchange="getRightPrgramStageDataElements();">
				<option value=''>[$i18n.getString( "please_select" )]</option>
				#foreach($stage in $program.programStages)
				<option value='$stage.id'>$stage.name</option>
					#end
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select id='leftSideDE' name='leftSideDE' size='7' ondblclick="insertDataElement(this, 'leftSide', 'leftStageDescription');" >
			</select>
		</td>
		<td>
			<select id='rightSideDE' name='rightSideDE' size='7' ondblclick="insertDataElement(this, 'rightSide', 'rightStageDescription' );">
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<img src="../images/plus.png" alt="$i18n.getString( 'plus' )" onclick='insertOperator( "leftStageDescription", "leftSide", "+" );' class="imgButton"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="../images/less.png" alt="$i18n.getString( 'less' )" onclick='insertOperator( "leftStageDescription", "leftSide", "<" );' class="imgButton" />
			<img src="../images/less_or_equal.png" alt="$i18n.getString( 'less_or_equal' )" onclick='insertOperator( "leftStageDescription", "leftSide", "<=" );' class="imgButton" />
			<img src="../images/greater.png" alt="$i18n.getString( 'greater' )" onclick='insertOperator( "leftStageDescription", "leftSide", ">" );' class="imgButton" />
			<img src="../images/greater_or_equal.png" alt="$i18n.getString( 'greater_or_equal' )" onclick='insertOperator( "leftStageDescription", "leftSide", ">=" );' class="imgButton" />
			<img src="../images/equal.png" alt="$i18n.getString( 'equal' )" onclick='insertOperator( "leftStageDescription", "leftSide", "==" );' class="imgButton"/>
			<img src="../images/diff.png" alt="$i18n.getString( 'diff' )" onclick='insertOperator( "leftStageDescription", "leftSide", "!=" );' class="imgButton"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="../images/clear.png" align="right" alt="$i18n.getString( 'clear' )" onclick="clearValidation( 'leftSide', 'leftStageDescription' )" class="imgButton"/>
		</td>
		<td>
			<img src="../images/plus.png" alt="$i18n.getString( 'plus' )" onclick='insertOperator( "rightStageDescription", "rightSide", "+" );' class="imgButton" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="../images/less.png" alt="$i18n.getString( 'less' )" onclick='insertOperator( "rightStageDescription", "rightSide", "<" );' class="imgButton" />
			<img src="../images/less_or_equal.png" alt="$i18n.getString( 'less_or_equal' )" onclick='insertOperator( "rightStageDescription", "rightSide", "<=" );' class="imgButton" />
			<img src="../images/greater.png" alt="$i18n.getString( 'greater' )" onclick='insertOperator( "rightStageDescription", "rightSide", ">" );' class="imgButton" >
			<img src="../images/greater_or_equal.png" alt="$i18n.getString( 'greater_or_equal' )" onclick='insertOperator( "rightStageDescription", "rightSide", ">=" );' class="imgButton" >
			<img src="../images/equal.png" alt="$i18n.getString( 'equal' )" onclick='insertOperator( "rightStageDescription", "rightSide", "==" );' class="imgButton" />
			<img src="../images/diff.png" alt="$i18n.getString( 'diff' )" onclick='insertOperator( "rightStageDescription", "rightSide", "!=" );' class="imgButton" />
			
			<img src="../images/clear.png" align='right' alt="$i18n.getString( 'clear' )" onclick="clearValidation( 'rightSide', 'rightStageDescription' )" class="imgButton" />
		</td>
	</tr>
	<tr>	
		<td>
			<textarea rows='5' id='leftSide' name='leftSide' class="{validate:{required:true,minlength:4}}" onkeyup="getValidationDescription('leftStageDescription', 'leftSide')"></textarea>
		</td>
		<td>
			<textarea rows='5' id='rightSide' name='rightSide' class="{validate:{required:true,minlength:4}}" onkeyup="getValidationDescription('rightStageDescription', 'rightSide')"></textarea>
		</td>
	</tr>
	<tr>	
		<td>
			<fieldset>
				<legend>$i18n.getString( "description" )</legend>
				<div id='leftStageDescription'></div>
			</fieldset>
		</td>
		<td>
			<fieldset>
				<legend>$i18n.getString( "description" )</legend>
				<div id='rightStageDescription'></div>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type='submit' value="$i18n.getString( 'add' )" >
			<input type='button' value="$i18n.getString( 'cancel' )" onclick="window.location.href='programValidation.action?programId=$program.id'">
		</td>
		<td></td>
	</tr>
	
</table>

<script>
	getLeftPrgramStageDataElements();
	getRightPrgramStageDataElements();
</script>
