#set( $size = $!{patientAttributes.size()} )
{ "patientAttributeParams": [
  #foreach( $patientAttribute in $!{patientAttributes} )
  {
    "id": "$patientAttribute.id",
	"name": "$!encoder.jsonEncode( ${patientAttribute.name} )"
  }#if( $velocityCount < $size ),#end
  #end
  ],
  #set( $size = $!{programs.size()} )
  "programs":[
  #foreach( $program in $programs )
  {
    "id": "$program.id",
	"name": "$!encoder.jsonEncode( ${program.displayName} )"
  }#if( $velocityCount < $size ),#end
  #end
  ]
}