<script type="text/javascript" src="javascript/updateProgramForm.js"></script>

<h3>$i18n.getString( "edit_program" )</h3>

<form id="updateProgramForm" name="updateProgramForm" action="updateProgram.action" method="post" >
  <input type="hidden" id="id" name="id" value="$program.id">
  
  <table id="detailsList">
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "program_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="name" name="name" value="$encoder.htmlEncode( $program.name )" class="{validate:{required:true,minlength:4}}"></td>
		<td></td>
	  </tr>	  
      <tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="description" name="description" value="$encoder.htmlEncode( $program.description )" class="{validate:{required:true,minlength:2}}"></td>
		<td></td>
	  </tr>
	  
      <tr>
		<td><label>$i18n.getString( "type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select style="width: 336px;" id="type" name="type" onchange='programTypeOnChange();' class="{validate:{required:true}}">
				<option value=''>[$i18n.getString('please_select')]</option>
				<option value='1' #if( $program.type=='1' ) selected #end>$i18n.getString('multiple_events_with_registration')</option>
				<option value='2' #if( $program.type=='2' ) selected #end>$i18n.getString('single_event_with_registration')</option>
				<option value='3' #if( $program.type=='3' ) selected #end>$i18n.getString('single_event_without_registration')</option>
			</select>
		</td>
		<td></td>
	</tr>
		
	<tr>
		<td><label>$i18n.getString( "show_provided_provided_elsewhere" )</label></td>
		<td><input style="margin: 0;" type="checkbox" id="displayProvidedOtherFacility" name="displayProvidedOtherFacility" value='true' #if( $program.displayProvidedOtherFacility=='false' ) checked #end ></td>
		<td></td>
	</tr>
		
	<tr>
		<td><label>$i18n.getString( "version" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="version" name="version" value="$program.version" class="{validate:{required:true,number:true}}"></td>
		<td></td>
	</tr>		
	<tr>
		<td><label>$i18n.getString( "date_of_enrollment_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="dateOfEnrollmentDescription" name="dateOfEnrollmentDescription"  value="$!program.dateOfEnrollmentDescription" class="{validate:{required:true,minlength:4}}" #if( $program.type=='3' ) disabled #end></td>
		<td></td>
	</tr>	
	<tr>
		<td><label>$i18n.getString( "date_of_incident_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="dateOfIncidentDescription" name="dateOfIncidentDescription" value="$!program.dateOfIncidentDescription" class="{validate:{required:true,minlength:4}}" #if( $program.type=='2' || $program.type=='3') disabled #end ></td>
		<td></td>
	</tr>
	
	  <tr>
		<td><label>$i18n.getString( "duration_in_days" )</label></td>
		<td><input style="width: 330px;" type="text" id="maxDaysAllowedInputData" name="maxDaysAllowedInputData" value="$!program.maxDaysAllowedInputData" class="{validate:{number:true}}"></td>
		<td></td>
	  </tr>	
		  
      <tr>
		<td></td>
      	<td>
			<input type="submit" value="$i18n.getString( 'update' )">
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='program.action'">
		</td>
      </tr>
    </tbody>
  </table>  

</form> 	
