<script type="text/javascript">
  
	jQuery(document).ready(	function()
	{
		validation( 'saveDataEntryForm', function( form )
		{
			setInnerHTML( 'designTextarea' , jQuery("#designTextarea").ckeditorGet().getData() );
			form.submit();
		} );

		jQuery('#designTextarea').ckeditor();
		jQuery("#designTextarea").ckeditorGet().setData('$encoder.jsEscape( $dataEntryValue, "'" )');
		
		checkValueIsExist( "name", "validateDataEntryForm.action", { dataEntryFormId: '$!programStage.dataEntryForm.id' } );
	});

    var i18n_dataelement_is_inserted = '$encoder.jsEscape( $i18n.getString( "dataelement_is_inserted" ) , "'" )';
	var i18n_specify_dataelememt = '$encoder.jsEscape( $i18n.getString( "specify_dataelememt" ) , "'" )';
    var i18n_choose_existing_dataentry ='$encoder.jsEscape( $i18n.getString( "choose_existing_dataentry" ) , "'" )';
	var i18n_dataelement = "$i18n.getString( 'dataelement' )";
	var i18n_dataelement_of_orther_program_stage = "$i18n.getString( 'dataelement_of_orther_program_stage' )";
	
	var previousName = '';
</script>

<style type="text/css">
#dataElementSelection,
#existedDataEntry,
#otherProgramStageDataElements{ 
	padding: 0.5em; 	
	z-index:999999;
	font-size:10pt;
	
}

.ui-dialog-titlebar
{
	padding:0.1em 0.1em 0.1em 0.1em;
}
#ui-dialog-title-dataElementSelection,
#ui-dialog-title-existedDataEntry,
#ui-dialog-title-otherProgramStageDataElements{
	font-size:10pt;
	color:#FFFFFF;	
	margin: 0;	
}

#dataElementSelection tr{
	cursor:default;	
}

#dataElementSelection tr.selected{
	background-color:#2B0AAF;
	color:#FFFFFF;
}

#dataElementList{
	margin-top:5px;
}

#message_{
	display:block;
	color:red;	
}

</style>

<form id="saveDataEntryForm" name="saveDataEntryForm" action="saveDataEntryForm.action" method="post">
<input type="hidden" name="programStageId" id="programStageId" value="$!programStage.id"/>
<input type="hidden" name="dataEntryFormId" id="dataEntryFormId" value="$!programStage.dataEntryForm.id"/>
<h3>$i18n.getString( "dataentryform_management_for_program_stage" ): $programStage.name </h3>
<div class="container" >
	<table id="detailsList" width="100%">
		<col/>
		<tr>
			<th>$i18n.getString( "dataentryform_details" )</th>			
			<td align="right" rowspan="2">
				#if( !$existingDataEntryForms.isEmpty() )
				<input type="button" style="width:250px" value="$i18n.getString( 'load_existed_form' )" onclick="openloadExistedForm()"/><br>
				#end
				#if(!$dataElements.isEmpty())
				<input type="button" style="width:250px" value="$i18n.getString( 'dataelement' )" onclick="openDataElementSelector()"/><br>
				#end
				#if(!$programStages.isEmpty())
				<input type="button" style="width:250px" value="$i18n.getString( 'dataelement_of_orther_program_stage' )" onclick="openOtherProgramStageDataElements()"/>
				#end
			</td>			
		</tr>	
		<tr>
			<td>
				<label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label>
				<input type="text" id="name" value="$!dataEntryForm.name" name="name" class="{validate:{required:true,rangelength:[4,150],alphanumericwithbasicpuncspaces:true,firstletteralphabet:false}}"   style="width:20em">
			</td>				
		</tr>	
	</table>  
	<table width="100%">
		<tr>
			<th>$i18n.getString( "design_dataentry_form" )</th>
		</tr>
		<tr>
			<td>
	        	<div>
	        		<textarea id="designTextarea" name="designTextarea"></textarea>
	        	</div>
			</td>
		</tr>
	</table>
</div>

<table width="100%">	
    <tr>
        <td align="right">
            <input type="submit" name="save" value="$i18n.getString( 'save' )" style="width:100px"/>
            <input type="button" name="cancel" value="$i18n.getString( 'cancel' )" style="width:100px" onclick="window.location='programStage.action?id=$!programStage.program.id'">            
			#if( $!dataEntryForm )
			<input type="button" name="delete" value="$i18n.getString( 'delete' )" style="width:100px" onclick="deleteDataEntryForm( $programStage.dataEntryForm.id, $programStage.id )" />
			#end
        </td>		
    </tr>
</table>
  
</form>

<div id="dataElementSelection">	
	<table>
		<tr>
			<td>
				<span class="bold">$i18n.getString( "dataelement" )</span><br>
			</td>
		</tr>
		<tr>
			<td>	
				<input type="text" style="min-width:290px" onkeyup="filterDataElements( this.value, '#dataElementSelection', '#dataElementIds')"/>
			</td>
		</tr>
		<tr>
			<td>	
				<select id="dataElementIds" name="dataElementIds" style="min-width:300px" multiple="multiple" size="10" ondblclick="insertDataElement( '#dataElementSelection', '$programStage.id')">
					#foreach( $de in $dataElements)
					#set($deJSON = '{' + '"id"' + ":" + $de.id + "," + '"name"' + ':"' + "$de.name" + '",' + '"shortName"' + ':"' + "$de.shortName" + '",' + '"type"' + ':"' + "$de.getDetailedTextType()"  + '"}' );
					<option value='$deJSON'>$encoder.htmlEncode( $de.name )</option>
					#end
				</select>
				<select id="dataElementIdsStore" multiple="multiple" style="display:none">
					#foreach( $de in $dataElements)
					#set($deJSON = '{' + '"id"' + ":" + $de.id + "," + '"name"' + ':"' + "$de.name" + '",' + '"shortName"' + ':"' + "$de.shortName" + '",' + '"type"' + ':"' + "$de.getDetailedTextType()"  + '"}' );
					<option value='$deJSON'>$encoder.htmlEncode( $de.name )</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" value="Insert" id="insert" name="insert" onclick="insertDataElement( '#dataElementSelection', '$programStage.id')"/>
			</td>
		</tr>
		<tr>
			<td>
				<span id="message_"></span>
			</td>
		</tr>
	</table>	
</div>

<div id="otherProgramStageDataElements">	
	<table>
		<tr>
			<td>
				<span class="bold">$i18n.getString( "program_stage" )</span><br>
				<select id="programStageIds" style="min-width:300px" onchange="getProgramStageDataElements( this.value )" >
					<option value=''>$i18n.getString( "select" )</option>
					#foreach( $p in $programStages)
					<option value='$p.id'>$encoder.htmlEncode( $p.name )</option>
					#end
				</select>			
			</td>			
		</tr>
		<tr>
			<td>
				<span class="bold">$i18n.getString( "dataelement" )</span>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" style="min-width:290px" onkeyup="filterDataElements( this.value, '#otherProgramStageDataElements', '#dataElementIds')"/>
			</td>
		</tr>
		<tr>
			<td>
				<select id="dataElementIds" name="dataElementIds" style="min-width:300px" multiple="multiple" size="10" ondblclick="insertDataElement( '#otherProgramStageDataElements', byId('programStageIds').value )"/>
				<select id="dataElementIdsStore" style="min-width:300px;display:none" multiple="multiple" size="10"/>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" value="Insert" id="insert" name="insert" onclick="insertDataElement( '#otherProgramStageDataElements', byId('programStageIds').value )"/>
			</td>
		</tr>
		<tr>
			<td>
				<span id="message_"></span>
			</td>
		</tr>
	</table>	
</div>


<div id="existedDataEntry">	
	<select id="existedDataEntryId" style="width:300px;float:left">		
		#foreach( $dataEntry in $existingDataEntryForms )
			<option value="$dataEntry.id" >$encoder.htmlEncode( $!dataEntry.name )</option>
		#end
	</select>
	<input type="button" value="$i18n.getString( 'load' )" style="float:left" onclick="loadExistedForm()"/>	
</div>

<script>
	var i18n_delete_program_data_entry_confirm = '$encoder.jsEscape( $i18n.getString( "delete_program_data_entry_confirm" ) , "'" )';
</script>
